[2014-09-03 17:26] DZCreeper opened #2 "Do: EnderIO"

[2014-09-03 17:27] DZCreeper opened #3 "Do: Applied Energistics 2"

[2014-09-03 17:27] DZCreeper opened #4 "Do: Botania"

[2014-09-03 17:28] DZCreeper opened #5 "Update: BuildCraft"

[2014-09-06 01:04] Iclario opened #6 "Do: Buildcraft Pipes"

[2014-09-13 19:01] Xen1290 opened #7 "Rename Folder"
I noticed spam in my logs, but when I rename the folder
DimDoors -> dimdoors
ExtrabiomesXL -> extrabiomesxl
spam disappear.

[2014-09-15 20:00] #7 closed, assigned to Farossco

[2014-09-17 23:34] mezz opened #8 "Forestry beealyzer, worktable, and mailtrader tweaked"
Hello,

Three of the Forestry GUIs have been tweaked for 1.7.10.
They have also been renamed (added a 2 to the end) so that the old texture isn't used if the texture pack is outdated.
forestry / textures / gui /
beealyzer.png -> beealyzer2.png
mailtrader.png -> mailtrader2.png
worktable.png -> worktable2.png

Thanks! :bee:

[2014-09-18 20:05] #8 closed, assigned to nobody

[2014-09-20 08:54] Prometheus0000 opened #9 "Mekanism GUIs that need updating"
The Heat Generator, Energy Cube, and Chemical Washer GUIs all need updating. Running Mekanism 7.1.1.104, and the latest F32 1.7.10 pack.

[2014-09-20 15:36] #9 closed, assigned to Farossco

[2014-09-28 08:30] Xen1290 opened #14 "Bugs"
The GUI of Undercutter Cart (Railcraft) is broken.
Error in console when I set faithful: http://pastebin.com/sZkF6hzf
( Unable to parse metadata from buildcraft:textures/blocks/redplasma_flow.png java.lang.RuntimeException: broken aspect ratio and not an animation)

[2014-10-06 23:51] Prometheus0000 opened #17 "The AE2 ME Wireless Access Point texture is wrong"
The texture for this is obviously wrong if you look at it in-game and compare it to the original.

[2014-10-07 16:00] Unrepentant-Atheist opened #18 "Fossil Textures"
Goes well with Faithful32, add it if possible. http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/wip-resource-pack/1259158-fossil-archeology-32x32

[2014-10-09 01:17] firezaven opened #19 "Do: Pam's Harvestcraft"
Would love to see this in Faithful32 :) Thanks.

[2014-10-10 20:21] #17 closed, assigned to nobody

[2014-10-10 20:25] #18 closed, assigned to nobody

[2014-10-10 20:50] #14 closed, assigned to nobody

[2014-10-11 07:07] kolatra opened #20 "AE2 Textures not Named Properly"
Title. This causes them to not load in-game.

[2014-10-11 19:37] belathus opened #21 "Tinker's Construct flux capacitor upgrade textures missing"
The hammer is fine, but the lumber axe, mattock, and pickaxe textures seem missing.

[2014-10-12 08:46] Xen1290 opened #22 "Add Faithful texture from tread"
Dear @DZCreeper , @Iclario
If possible, In Faithful tread there are some texture for natura and fallen meteors. Page 528, 526 and more, made by the same guy. If you check his profile, you find all post(and texture he made).

[2014-10-12 17:34] #22 closed, assigned to nobody

[2014-10-12 19:16] #21 closed, assigned to nobody

[2014-10-14 21:42] Prometheus0000 opened #26 "The AE2 ME Controller animated texture is broken"
As the title says, once you power it, it just shows a null texture.

[2014-10-14 23:51] #26 closed, assigned to nobody

[2014-10-16 20:25] Unrepentant-Atheist opened #28 "Do: Mariculture and Emasher Resources Block"
Not a huge amount of work I'd imagine, I just would like to have the limestone textures from Mariculture and Emasher mods done, everything else could be done later. I'd like to start building with that awesome limestone.

[2014-10-17 17:18] Jules06 opened #29 "ExtraTIC BOP Textures + Redstone Arsenal armor"
Hello could you please add the Biomes O' Plenty (at least the ender amethyst) tool parts

Thanks

EDIT : It would also be cool to do redstone arsenal armor. Thanks :D

[2014-10-18 00:35] Unrepentant-Atheist opened #30 "Do: Malisi's Doors"
Much obliged! http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2076338-1-7-2-1-7-10-forge-malisisdoors-1-7-10-1-2-1-17

[2014-10-19 08:33] Xen1290 opened #31 "Rework ExtraCells"
Hi, texture for ExtraCells are outdated.

[2014-10-27 02:24] CubeWrench202 opened #38 "[Request]Bluepower"
Yeah,nice mod,made by Quetzi,Amadornes,K4unl,Minemaarten and Zness
http://minecraft.curseforge.com/mc-mods/223099-blue-power/files

[2014-10-30 10:56] CubeWrench202 opened #39 "Ic2-Classic"
There is a port of the original industrialcraft2  to 1.7.10 by immibis
http://forum.industrial-craft.net/index.php?page=Thread&threadID=10313&pageNo=1
This is a port of the 1.4.7 IC2,i find a resourcepack for that version but doesn't seems to work, a port of that Resourcepack to the new version should help,if someone know how to make it,please tell me and i will do it.

[2014-10-31 02:32] stephenmc608 opened #40 "Tinkers' Construct Stencil Table GUI"
![2014-10-30_22 31 14](https://cloud.githubusercontent.com/assets/8429816/4855480/0e713216-60a6-11e4-883f-4e0f34258c2c.png)

As you can see, the Stencil Table from Tinkers' Construct changed to include the patterns on the left side.

[2014-10-31 18:49] #20 closed, assigned to Farossco

[2014-11-02 13:41] Xen1290 opened #42 "Request: Gui for AppleCore"
http://minecraft.curseforge.com/mc-mods/224472-applecore

Needed because his GUI override food bar.

[2014-11-02 14:33] #42 closed, assigned to nobody

[2014-11-04 21:35] #40 closed, assigned to nobody

[2014-11-14 14:17] iMarbot opened #48 "Update: IC2"

[2014-11-15 00:05] #31 closed, assigned to nobody

[2014-11-27 16:17] Xen1290 opened #54 "Food bar"
The bar food doesn't count half haunch.

[2014-11-27 20:53] #54 closed, assigned to nobody

[2014-11-29 10:33] Xen1290 opened #58 "Liquid Cleaner steve's carts 2 is broken"
This item appear with "Missing Texture", namely black and purple.

[2014-11-29 13:23] #58 closed, assigned to nobody

[2014-12-02 13:42] Xen1290 opened #62 "[Request] Lucky Block"
Is one block, but the mod is very funny.
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1292247-lucky-block-drops-items-spawns-mobs-structures-and

[2014-12-02 17:09] #62 closed, assigned to nobody

[2014-12-06 15:28] Xen1290 opened #69 "Information"
For @DZCreeper , @Iclario
I would like to know what to do about:
- if there are texture 32x or higher inside the mod does not need or need to add it to the TODO? Or inside the main pack?
- file .mcmeta files must put in the pack? if you do a texture that requires .mcmeta must change it?
- for mcmeta I include .txt files for animation.
  Also I would like to complete the todo with all missing textu

[2014-12-07 02:23] #69 closed, assigned to nobody

[2014-12-07 09:32] Xen1290 opened #71 "E-mail doesn't arrive"
Sorry for other issue, but @DZCreeper  nothing, the mail doesn't arrive... May because my email is private in github?

[2014-12-07 13:27] #71 closed, assigned to nobody

[2014-12-13 05:46] Wavebrother opened #72 "Do: Ender Enhancement"
Can someone do some faithful textures for Ender Enhancement?
http://www.curse.com/mc-mods/minecraft/223402-ender-enhancement

[2014-12-14 14:48] kittykiller opened #74 "Enchanting plus"
The advanced enchantment table GUI is broken.

![screenshot 2014-12-14 10 46 55](https://cloud.githubusercontent.com/assets/4710935/5427685/c2887bba-837e-11e4-8afd-a5def61dafb9.png)

[2014-12-14 17:12] #74 closed, assigned to nobody

[2014-12-15 01:58] benten2000 opened #76 "Extra Utilites filter pipe wrong colour"
After using latest 1.7.10 github master was wondering why my sorting system was not working.

Did some checking and the texture file assets\extrautils\textures\blocks\pipes_diamond5.png should be yellow and not black as with this there are 2 black routes.

[2014-12-15 22:23] #76 closed, assigned to nobody

[2014-12-23 17:01] benten2000 opened #77 "Latest Jabba untextured problem"
Upgrading Jabba from 1.1.4 to 1.2.0a stops the faithful textures being shown due to massive graphical changes to Jabba in v1.2.0 with also file names being changed.

Gone are all the multiple textures for each side and type and seems to be replaced with a gimp opengl style sheet xcf file.

Will have a go at trying a convert of it also.

I know Jabba is on the cards to be redone just wanted to let

[2014-12-23 23:02] #77 closed, assigned to nobody

[2014-12-25 09:13] mezz opened #79 "Minor Update: Forestry Crates"
The next version of Forestry will generate crates automatically!
To update, please add `items/crate-filled.png` and remove the entire `items/crates` folder.

[2014-12-26 16:53] #79 closed, assigned to nobody

[2014-12-30 05:19] mezz opened #83 "[Bug] Forestry's Escritoire gui texture is outdated"
The Escritoire for 1.7.10 should look like this:
![escritoire](https://cloud.githubusercontent.com/assets/916092/5575866/020f466a-8fa0-11e4-9867-b4e1e6dcd3d2.png)

It hasn't changed during 1.7.10, so there is no compatibility issue.
Thanks!

[2014-12-30 05:34] #83 closed, assigned to nobody

[2015-01-05 13:41] EddyHg80 opened #86 "Tinker's construct update"
Tinker's Construct has a new experimental build with new stuff. Updating now will mess up all the arrows in the previous stable version, and I don't know what else: should we wait untill the release become official?

[2015-01-05 14:02] EddyHg80 commented on #86
If you go visit the minecraft forum you'll see

[2015-01-05 14:08] EddyHg80 commented on #86
Woa I didn't notice the 1.8.1 release D:  so let's update, I guess?

[2015-01-05 14:28] EddyHg80 commented on #86
Wait wait, it's for MC 1.7.10, it's Tinker's Construct that is version 1.8.1 :)

[2015-01-05 14:46] #86 closed

[2015-01-05 19:21] DZCreeper commented on #86
Feel free to add support for experimental mod versions. However I won't be merging them until they become release versions. Also, I will be adding a repository for 1.8 once it hits its final version. Currently the latest is still 1.8.2-pre1

[2015-01-12 05:15] Alleluid opened #87 "Chisel cobblestone"
Posted here at your request DZ.

[2015-01-12 06:13] Xee1 commented on #87
What? XyCraft is out? Where?

[2015-01-12 13:39] DZCreeper commented on #87
No, the latest Chisel added its own XyCraft style blocks. I am going to take care of them today but I was too tired last night so I asked Alleluid to leave me this reminder.

[2015-01-12 15:34] Xee1 commented on #87
Oh, in fact, it seemed strange that was out!

[2015-01-17 23:45] Xee1 opened #89 "Question about GT"
I'm checking the folder of GT, and I noticed that the gui are without G yellow. There is any problem if I add it?
Now:
![1by1](https://cloud.githubusercontent.com/assets/8685029/5790819/196cf2e8-9eab-11e4-9c2a-fcd36230dd35.png)
Later:
![1by1](https://cloud.githubusercontent.com/assets/8685029/5790835/b9964076-9eab-11e4-935e-458364b7fd96.png)
Original from jar:
![1by1](https://cloud.githubuserconte

[2015-01-17 23:56] DZCreeper commented on #89
Not a problem in my opinion but if you want to fix it go ahead.

[2015-01-18 00:08] Xee1 commented on #89
Perfect, I'll go ahead !

[2015-01-21 22:14] Xee1 commented on #89
Other question @DZCreeper , @Iclario , GT 1.7.10 is completely different from 1.6, so, I keep old textures? If you check my work in progress for GT go on my fork. Once I finish I'll merge on the main repository.

[2015-01-21 22:21] DZCreeper commented on #89
Could you word that differently, its hard to understand. If you mean keep the 1.6 textures in the 1.7 version, don't bother unless they are still used. We don't bother maintaining backwards compatibility, that's why there are different version of the pack download.

[2015-01-21 22:27] Xee1 commented on #89
Oh sorry, for different I mean no longer used, most of texture now are made with grayscale for example, this I meant. I'll delete it, thanks.

[2015-01-30 04:29] The-Order opened #96 "Fixed Reactorcraft Ores"
I fixed the Reactorcraft ores from looking blurry (finally). Not sure how to use this github thing nor could I figure it out so I hope this google drive link works.

https://drive.google.com/file/d/0B0XbQ0OpHz_3ckNXZHhaekhUdms/view?usp=sharing

[2015-01-30 05:01] DZCreeper commented on #96
Github works pretty simply, you fork the repository, clone it locally to your computer using a Github client, push the local changes to the online repository, and then submit those changes as a pull request. If its too much of a bother don't worry about it, it only takes me a couple minutes at most to add this stuff manually.

Added in https://github.com/F32Organization/Faithful32-1.7.10/commit/38

[2015-01-30 05:01] #96 closed

[2015-01-30 05:01] DZCreeper commented on #6
Should be finished with https://github.com/F32Organization/Faithful32-1.7.10/commit/a7031af9fdb13b289fa2b14173720b1850f6ea37

[2015-01-30 05:01] #6 closed

[2015-02-01 02:34] The-Order opened #98 "AOBD"
I did the dusts, nuggets, and centrifuged ores for another ore bites the dust. I honestly tried to figure out this github. I got a fork created but I couldn't find out how to create a folder or upload a file. I hope you don't mind if I just do my submissions this way.

https://drive.google.com/file/d/0B0XbQ0OpHz_3ODVsNnBtUHJwMDg/view?usp=sharing

[2015-02-01 03:16] DZCreeper commented on #98
Its fine this way. You can't really do a proper pull request using just the in-browser version of Github. You need to fork the repository, use a Github client to make a local copy, make changes on your computer, commit those changes locally, then sync. When you click the pull request button in-browser all the changes you made will then be included.

There are some basic guides: https://help.github

[2015-02-01 03:16] #98 closed

[2015-02-03 21:27] The-Order opened #100 "Buildcraft Diamond Transport Pipe"
With a recent update the diamond item transport pipe is now broken.

[2015-02-03 22:10] The-Order opened #101 "Tinkers Brownstone"
I did a few textures for Tinkers Construct Brownstone.

https://drive.google.com/file/d/0B0XbQ0OpHz_3NXM0UlQzQnFPdlE/view?usp=sharing

[2015-02-03 23:04] DZCreeper commented on #101
https://github.com/F32Organization/Faithful32-1.7.10/commit/dc89ce54dc1b8ead5f2aacd623f7b1d57057ffcd

[2015-02-03 23:04] #101 closed

[2015-02-03 23:05] DZCreeper commented on #100
What BuildCraft version are you using?

[2015-02-03 23:43] The-Order commented on #100
Buildcraft 6.2.6. Sorry, I forgot it recently updated and I can't update my modpack yet. Not sure what happens in newer version.

[2015-02-04 00:09] DZCreeper commented on #100
With BC 6.3.3 the pipe renders correctly when placed but not when held in inventory. Is this the same for you?

[2015-02-04 02:05] The-Order commented on #100
Yeah, that's the same issue I was seeing after just testing it. Not sure why.

[2015-02-05 17:51] DZCreeper commented on #89
Closed by https://github.com/F32Organization/Faithful32-1.7.10/commit/e209fc64cc51c7c77cd2eb53c965479df3820536

Make a new issue if there are additional Gregtech problems.

[2015-02-05 17:51] #89 closed

[2015-02-05 17:54] DZCreeper commented on #87
Reminder to self, check out what needs changing: http://www.curse.com/mc-mods/minecraft/225236-chisel-2/download

[2015-02-06 05:33] Adaptivity opened #106 "Ender IO - New textures"
Textures in new Ender IO have changed. Commits:
1) https://github.com/CrazyPants/EnderIO/commit/72138026a6b9fcf74fba9b727c8ee1599794f3b1
2) https://github.com/CrazyPants/EnderIO/commit/483a6b1c20d99b48dacd90c2fd9cd9aa8f8c9958
3) https://github.com/CrazyPants/EnderIO/commit/a88c7e8ea12109cb861420b4d46f85784214e687
Just a reminder for somebody who plan to update Ender IO.

[2015-02-09 17:36] #100 closed

[2015-02-11 07:06] Adaptivity opened #109 "Do: VersionChecker"
https://github.com/Dynious/VersionChecker/tree/master/src/main/resources/assets/versionchecker/textures/gui
Should be easy.

[2015-02-11 19:36] DZCreeper commented on #109
I will do that soon, maybe even today. Speaking of version checker, that's something I really want to get working for Faithful 32. If anyone knows a way to accomplish this short of writing a custom mod, let me know.

[2015-02-11 20:49] Jules-2K opened #111 "[Not really an issue] Version notes"
Hi, is it possible to put version numbers or a changelog for the F32 ?
I like to regularly check if there is an update.
Thanks :D

[2015-02-11 20:52] Jules-2K opened #112 "Do : Ender Utilities"
All is in the title :)

[2015-02-11 22:24] DZCreeper commented on #111
Would you prefer a manual changelog in a .txt file or have a list of Github commits displayed on the website automatically?

[2015-02-11 23:55] Jules-2K commented on #111
A thing on the website would be great, thanks a lot ! :)

[2015-02-12 01:36] DZCreeper commented on #111
https://github.com/F32Organization/siteF32/commit/08c08851c3711c36eba2d95dbedcdec8416dd9a8 added the last 5 commits to the main page. Let me know if you had something different in mind.

[2015-02-12 01:36] #111 closed

[2015-02-12 02:31] stephenmc608 commented on #111
That looks fantastic! And it's super-useful too! Thanks! :D

[2015-02-12 06:15] Xee1 commented on #111
Very good thing!

[2015-02-12 10:56] Jules-2K commented on #111
Perfect ! Thanks

[2015-02-17 13:25] iMarbot opened #115 "[SUGGESTION] CurseForge Hosting The Pack Aswell"
I suggest that this resource pack is put onto CurseForge ( http://minecraft.curseforge.com/texture-packs ) for a few reasons. Firstly, the FTB Launcher is now moving over to the Curse Launcher and the Resource Pack will not be on the launcher after it shuts down, people will be able to download the resource pack. Secondly, it adds an easier place for people to get it (without the client and the we

[2015-02-17 19:15] DZCreeper commented on #115
That is something I will have to talk to Vattic about. I don't even think the vanilla Faithful 32 pack is on there yet.

[2015-02-17 19:26] Xee1 commented on #115
On CurseForge there are only a few Faithful mod support, and yes, would not be bad put the pack on CourseForge.

[2015-02-17 20:03] DZCreeper commented on #115
I have sent a PM to Vattic on MCF. If anyone knows a better way to get in contact with him, that would be great. If he doesn't respond I will get in touch with someone from CurseForge and see if my permissions to work on and distribute the modded pack would be enough to put Faithful on CurseForge.

[2015-02-17 20:10] Iclario commented on #115
I agree with @iMarbot, I think that the FTB appellation is not appropriate

[2015-02-17 20:37] Xee1 commented on #115
I Agree with @iMarbot  and @Iclario

[2015-02-17 20:43] Xee1 commented on #115
With this change, these also need an update:
http://www.minecraftforum.net/forums/mapping-and-modding/resource-packs/1223254-faithful-32x32-pack-update-red-cat-clay-1-8 and http://forum.feed-the-beast.com/threads/faithful-32x32-pack.14024/

[2015-02-17 21:32] Xee1 commented on #115
If we moving on CurseForge the information in this pages need to be updated. For example on vattic tread, there are a Old link on mod support: http://faithful32x32.wikispaces.com/ @iMarbot

[2015-02-17 22:36] DZCreeper commented on #115
How do you guys feel about the branding being "Faithful 32 Modded Edition"? Frankly the FTB forums don't need a name change because that forum thread is just a link to the site. The MCF thread does need a change but I don't have any authority over that. I suspect a lot slips through the cracks with the volume of messages and alerts Vattic gets.

[2015-02-17 22:56] Xee1 commented on #115
Same for me! Name approved! For MCF tread, maybe another PM to Vattic?

[2015-02-18 08:47] EddyHg80 commented on #115
Could be an option to upload the pack on curse without the vanilla textures, like an addon to vanilla, untill Vattic reply to the pm?
Also the pack is going to earn curse points, I don't know how many downloads this pack gets, but I imagine it's a lot; the dustribution of the point to the contributors will not be easy and I personally think the points should be given to Vattic himself, as he is no

[2015-02-18 08:53] Xee1 commented on #115
Curse point? what are they? @EddyHg80

[2015-02-18 09:48] EddyHg80 commented on #115
Basically you can (now that I think of it, it's optional so it's not so important) earn curse points publishing projects like resource packs and mods, then you can exchange them for amazon voucher or things like that.

[2015-02-18 10:04] Xee1 commented on #115
Ah figured! Thanks.

[2015-02-18 19:12] DZCreeper commented on #115
I will consider altering the build script to output a pack without the vanilla textures like Eddy suggested. Not going to rush it, give Vattic some time to respond.

[2015-02-19 23:16] IMarvinTPA opened #119 "Sandy Bricks and Coke Ovens"
Railcraft's Sandy Bricks should have the exact same texture as plain Coke Oven bricks.  The current textures are different and prevent making seamless "giant" coke ovens and other decorative camouflage.

The change log when it was added says "NEW: Added Sandy Brick, decorative version of Coke Oven Brick."   (http://railcraft.info/wiki/info:version_history for Version 6.13.0.0 - (01-01-13) )

Witho

[2015-02-23 21:47] DZCreeper commented on #115
Got a reply from Vattic.

He has been avoiding CurseForge because of the revenue generation. Asides from that he has no issues with me putting the pack there. I gave him the specifics on how its optional and how much the points are worth when converted through Paypal or Amazon. Currently the two options are no monetary generation or it all goes to Vattic. While I appreciate the effort everyone put

[2015-02-23 22:46] Xee1 commented on #115
For me, no profit or all profits to Vattic (I prefer the first, to avoid any problems, like split profits etc..). For the pack: split in two version, vanilla and mod support is very inconvenient, because you need to download two pack, merge in one pack and load it, very annoying to do, in addition some people probably will confuse. Other thing is: Does it make sense using faithful mod support with

[2015-02-23 22:58] Xee1 commented on #115
I hope Curse clients will do that, and yeah, I didn't remember the new resourcepack system, sorry @iMarbot

[2015-02-25 19:12] MarcusLee1 opened #120 "Optifine connected textures"
Hi, I was wondering if it would be possible to show the items in the crafting interface / inventory as some modded glass items are broken / not optimized for Optifine. Would it be possible to fix this issue? It causes quite a few problems for me as I might not notice that glass is required in some crafting recipes. Here's some missing / broken textures from the mods: Edged Glass (Extra Utilities),

[2015-02-25 20:25] Xee1 commented on #120
Yeah, this is bug is pretty annoying, it comes from assets/minecraft/mcpatcher/ctm ,only the normal glass is affected.  This is a vanilla pack issue, but I don't know the way to fix it. Any idea @DZCreeper ? Other ctm(optifine support) work.

[2015-02-25 20:43] EddyHg80 commented on #115
As I said before I think that any eventual profits from this pack should go to Vattic.
@DZCreeper Vattic said you could put the pack with vanilla in it, or without it?

[2015-02-26 19:36] MarcusLee1 commented on #120
I am getting the problem on modded too, can't just be a Vanilla problem

[2015-02-26 20:39] Xee1 commented on #120
Sorry, Bad english, I mean vanilla and modded pack, but the ctm files ( connected textures) are from vanilla pack. This I mean.

[2015-02-27 08:31] stephenmc608 opened #121 "Thermal Expansion Fluid Transposer"
I noticed that the input (The Blue) area was a little off.

![2015-02-27_03 29 27](https://cloud.githubusercontent.com/assets/8429816/6409375/fe0f356a-be30-11e4-91e3-7736f2c4fc67.png)
![2015-02-27_03 29 32](https://cloud.githubusercontent.com/assets/8429816/6409377/fe12ad4e-be30-11e4-9cbb-9c9b65d1a463.png)
![2015-02-27_03 29 35](https://cloud.githubusercontent.com/assets/8429816/6409376/fe112b5e-b

[2015-03-03 22:56] Jules06 opened #123 "Do : TiCon new Thermal Foundation parts"
Thanks !

[2015-03-04 06:59] #119 closed

[2015-03-04 07:02] DZCreeper commented on #121
What resolution are you playing at? This seems to be a scaling issue because at 1920x1080 there is no problem.

[2015-03-04 07:06] DZCreeper commented on #123
I assume you mean the Electrum and Shiny tools and parts? That is actually controlled by a new hex color system from TiC. Some of the templates that it uses have been completed, others aren't.

[2015-03-04 07:26] stephenmc608 commented on #121
I'm playing at 1920x1080, with the large GUI scale selected.

[2015-03-04 08:08] DZCreeper commented on #121
I normally use the auto GUI scale which for 1920x1080 defaults to Extra Large, hence why I haven't noticed the scaling issues. Unfortunately there is nothing I can really do to fix the issue, its just some textures are at a size where scaling them to non-multiple sizes looks terrible.

[2015-03-04 08:08] #121 closed

[2015-03-04 08:51] stephenmc608 commented on #121
Alright. Thanks for the help.

[2015-03-05 04:27] MrBretze opened #127 "[Bug] Simply jetpack"
http://puu.sh/gn1rV/4b927d62b5.jpg 3D jet pack not found ><

[2015-03-05 05:03] fewizz commented on #127
hehe

[2015-03-05 10:54] #127 closed

[2015-03-05 10:58] DZCreeper commented on #127
Wow, SimplyJetpacks support is way out of date. I will get around to it eventually, got a couple things ahead of it though. Just cleaned up the folder enough to get what small amount of support we do have to work again.

[2015-03-11 03:09] infogulch opened #139 "Missing Mekanism Machines"
The Mekanism machines have no 32x32 texture. Is adding textures for them on the radar?

[2015-03-11 04:11] DZCreeper commented on #139
Can you take a screenshot for me? I thought Mekanism machines were 32x32 by default.

[2015-03-11 16:12] infogulch commented on #139
Oh, you're right. Sorry for the trouble. :astonished:

Here are a few of the assets. Yep they're 32px wide. :straight_ruler:
![basicfactoryfront](https://cloud.githubusercontent.com/assets/133882/6600637/cdb9a672-c7de-11e4-88f9-d94dc18be54d.png)
![precisionsawmillfronton](https://cloud.githubusercontent.com/assets/133882/6600639/cdbef4a6-c7de-11e4-961c-4efcff0cb491.png)

[2015-03-11 16:12] #139 closed

[2015-03-18 19:05] Adaptivity commented on #38
Why it still not added to Github? Is there are any problems?

[2015-03-18 21:51] CubeWrench202 commented on #38
There won't be 16x16 in vanilla BluePower iMarbot :(, but @Amadornes is working on an awesome texture pack for it

[2015-03-21 09:58] #106 closed

[2015-03-23 18:39] AlexTheGre4t opened #157 "Do: BuildCraft Additions"
http://bcadditions.ga/

Edited by DZCreeper. Old domain was bought my malicious party, edited to new and proper link.

[2015-03-27 17:06] Treestump137 opened #159 "Alumite Axe Handle (Tinkers)"
Noticed that the alumite axe handle was using a bronze axe handle texture.
I fixed the texture, but have no idea how to use GitHub, so I'll just post it here, saving you the work
http://magnificentbastards.net/alumite_axe_handle.png

[2015-03-27 19:30] #159 closed

[2015-03-30 17:52] p75369 opened #172 "Thaumcraft: Missing Golem Accessories and Upgrade"
Some of the golem accessories are missing textures, causing them to not render at all since they all come from golem_decoration.png. A simple copy/paste of the default file should fix it for now.

[2015-03-30 19:20] #172 closed

[2015-03-30 19:23] EddyHg80 commented on #172
I hope that this fixed it :)

[2015-04-04 14:40] Adaptivity opened #182 "Thermal Foundation material colors doesn't respect vanilla"
Thermal Foundation material textures probably changed in 1.7.10 They still look good but doesn't look the same as vanilla TF.
Needs updating:
CrystalCinnabar, DustBlizz, DustBronze, DustCoal, DustCopper, DustCryotheum, DustElectrum, DustEnderium, DustGold, DustInvar, DustIron, DustLead, DustNickel, DustNiter (mostly the same as vanilla but not completely), DustObsidian, DustPlatinum, DustSilver, D

[2015-04-06 05:54] VileTouch commented on #48
anyone working on IC2 machines/blocks? I have reworked most of the machines with a mix of their new look and the 1.6.4 faithful look. (pics coming later)

[2015-04-06 05:57] DZCreeper commented on #48
Not that I know of. I thought IC2 machines were already 32x32 and there was just the items to finish but if you have improved on the originals I will include them.

[2015-04-06 17:57] p75369 opened #190 "[unfaithful texture] Biomes o Plenty Cherry Wood"
The default colour is a deep red, but in the pack, it becomes more of a washed out pink.

[2015-04-06 22:02] #190 closed

[2015-04-06 22:03] DZCreeper commented on #190
Sorry about that, it appears whoever started Biomes O' Plenty texturing didn't finish or needed more practice. I don't have time to match the colors exactly right now but the commit I just made should make it closer to the originals.

[2015-04-07 16:38] p75369 commented on #190
Thanks for that, though I just looked at the change, it also needs to be done to the planks too.

[2015-04-11 17:09] EddyHg80 opened #201 "Reminder - New Thermal Expansion guis"
Just a reminder to check the new Thermal Expansion guis
Source: https://twitter.com/TeamCoFH/status/586936992392437760?s=09

[2015-04-11 20:42] DZCreeper commented on #201
What update was this done on?

[2015-04-11 22:25] EddyHg80 commented on #201
I *think* on the latest release build on Curseforge, but I can't check because I'm not at home.

[2015-04-12 09:41] Adaptivity commented on #201
Needs updating: Activator.png, Workbench.png(Schematic color), Slot_Output_Schematic.png (should be 64x64?), Tesseract.png, Assembler.png (Schematic color), Insolator.png, Smelter.png, Transposer.png.

[2015-04-12 13:43] EddyHg80 commented on #201
I updated the TODO for Thermal Expansion but I couldn't figure out what the tweet is talking about.
For now I'll close this issue.

[2015-04-12 13:43] #201 closed

[2015-04-18 15:07] Adaptivity opened #211 "BC addon pipe textures are changed"
Additional Pipes:
Current: https://github.com/F32Organization/Faithful32-1.7.10/blob/master/assets/additionalpipes/textures/blocks/0.png
New: https://github.com/tcooc/AdditionalPipesBC/blob/master/src/main/resources/assets/additionalpipes/textures/blocks/0.png
ABO:
Current: https://github.com/F32Organization/Faithful32-1.7.10/blob/master/assets/additional-buildcraft-objects/textures/blocks/PipeIte

[2015-04-18 18:50] DZCreeper commented on #211
Yeah, luckily the pipes are super easy to do. I will take a look at this today.

[2015-04-18 22:26] DZCreeper commented on #211
Alright, going to close this for now. Let me know if there any remaining issues involving pipes.

[2015-04-18 22:26] #211 closed

[2015-04-19 18:24] Evolution0 commented on #157
Why does this link take me to a suspicious url that tries to "update" my flashplayer?

[2015-04-19 20:02] Iclario commented on #157
Closed for suspicious website

[2015-04-21 09:28] Evolution0 commented on #120
I'm going to assume this was resolved or wasn't a problem of the pack to begin with as I can't seem to reproduce it in modded or vanilla (with optifine).

Maybe someone close it?

[2015-04-21 10:55] DZCreeper commented on #120
Fairly certain its an issue by the Anisotropic Filtering video setting. Going to test a bit tomorrow on my various computers to see if I can narrow it down more.

[2015-04-21 11:37] Evolution0 commented on #39
I'll be taking this on since work seemed to have stopped 5 months ago (and is in an incorrect file structure), shouldn't interfere with my RFTools work as most of the textures already exist and its a fairly small undertaking.

I am however redoing some of them as I didn't really like the look of them and recreating others (Like the missing Hazmat suit which I already have mostly done :D)

[2015-04-21 11:40] Evolution0 commented on #120
That does indeed sound plausible and I didn't check either.. trying some things now..

[2015-04-22 21:54] DZCreeper commented on #201
Turned out to be less complicated than I thought.

https://github.com/F32Organization/Faithful32-1.7.10/commit/6472d48250133f71928ebb593ce1d9ea90d4155a

Let me know if there is any more issues.

[2015-04-23 04:18] Adaptivity commented on #123
@DZCreeper Tcon Weaponry now fully supported. Can be closed.

[2015-04-23 05:11] #123 closed

[2015-04-26 09:02] Xee1 commented on #157
http://minecraft.curseforge.com/mc-mods/221014-buildcraft-additions This is the curseforge page

[2015-04-27 00:16] BlobmanThingy opened #240 "Do: OreSpawn 1.7.10"
Can you guys please add orespawn textures to this mod?

The mod is located here:
http://www.orespawn.com/download-17.html

[2015-04-27 08:49] HVK500 opened #241 "Ender IO UI"
The UI of a few machines do not match slots

[2015-04-27 21:54] Evolution0 commented on #241
Ah I see what you mean, must have been some recent UI changes.

I'll fix those asap.

[2015-04-28 00:41] #241 closed

[2015-04-28 16:13] Evolution0 commented on #109
A bit of an old issue but.. have you considered altering the build script to superimpose a version and build date onto the mojang logo? Should just take a bit of string manipulation in bash and a bit of imagemagick.

I've worked with imagemagick in scripts before and its not too hard (though I made a last.fm "now listening" forum signature generator) the idea of superimposing text onto an image wa

[2015-04-30 23:59] HVK500 opened #251 "Thermal expansion machines - displaced progress arrow"

[2015-05-01 01:04] DZCreeper commented on #251
Which version? This commit should have fixed them to match the latest version. https://github.com/F32Organization/Faithful32-1.7.10/commit/6472d48250133f71928ebb593ce1d9ea90d4155a

[2015-05-01 01:17] HVK500 commented on #251
The latest pack version, it seems that the referenced commit might be the cause of the problem.
(BTW: Thanks for your hard work)
![dis-arr](https://cloud.githubusercontent.com/assets/5502187/7425404/7e0fe98e-efb0-11e4-9351-30425d109771.png)
![dis-arr2](https://cloud.githubusercontent.com/assets/5502187/7425405/7e176d4e-efb0-11e4-9d3e-c81bd328777b.png)

[2015-05-01 01:20] DZCreeper commented on #251
I mean which version of Thermal Expansion and CoFHCore. The general rule that I try to follow is keep the textures up to date with the latest mod releases that aren't alpha versions.

[2015-05-01 01:44] HVK500 commented on #251
Oh I see, sorry I misunderstood. I just checked, the version I'm using is older. I just tested with a more recent version and is perfectly fine, Sorry for the mistake.

[2015-05-01 11:36] #251 closed

[2015-05-07 10:15] Adaptivity commented on #182
Issue updated with more info. In my opinion Faithful textures more darker than originals. So, I think restyling is required.

[2015-05-08 00:16] Evolution0 commented on #182
If someone doesn't get to it before I do (I plan on Chisel being an ongoing thing while doing others) then I'll do it.

I know what you mean too, they added a bit more detail that had the side effect of lightening the textures (like the inner glow / iridescent effect on enderium)

[2015-05-11 23:18] Evolution0 commented on #87
As far as I know the cobblestone has been done. Might want to close this.

Unless its a reminder to work on chisel textures in general, then id change the title.

[2015-05-12 15:57] Adaptivity commented on #109
Thanks! Great work.

[2015-05-12 15:57] #109 closed

[2015-05-16 08:55] TotalHamman opened #279 "RotaryCraft V6f Missing Textures"
RotaryCraft V6f (current version) has added textures since last update to F32 textures.  A quick comparison of the items.png and items2.png between F32 and mod will show the missing textures.

Thanks for all the great work you do!

[2015-05-18 01:44] Evolution0 commented on #279
Hmm not only that but it has been reorganized as well, seems the one currently in the pack was incomplete to begin with too.

Probably shouldn't have been merged or at least a copy should have been left in TODO.

[2015-05-18 16:31] Zyx-2000 opened #281 "Suboptimal image compression"
I noticed that many textures in this pack are far from optimally compressed, making the download size unnecessarily big, and perhaps also impacting loading performance. If the people responsible for this pack agree, I can recompress all textures to a more optimal size (lossless, of course), and make a pull request.

Many textures take up ~4.5kB, which is more than the 4kB they would use if saved a

[2015-05-18 20:10] DZCreeper commented on #281
You are welcome to try but please test all the textures you compress in the game. I know its a pain to check that many but last time I let someone try compressing a bunch of textures, it created some visual glitches and I had to revert over 25 thousand files.

[2015-05-18 21:02] Zyx-2000 commented on #281
Do you know of any way to view a texture in-game without installing all the mods? It would reduce the amount of work required a lot, since my computer wouldn't be able to handle that many mods at once. Otherwise I might only recompress the textures for the mods in my modpack.

I'd guess the guy who tried recompressing earlier used some lossy compression method, thus causing the glitches. Perhaps h

[2015-05-18 21:37] DZCreeper commented on #281
Supposedly PNGOUT was used. To view the textures properly, you will have to have the mods installed. I assume several of them use special rendering because I know both ThaumCraft amber and Forestry apatite had issues, and those are just the two I remember.

I am not honestly all that concerned about compression, texture loading seems to be the quickest part of the startup.

[2015-05-19 12:04] Zyx-2000 commented on #281
After a few seconds of testing, I discovered that minecraft doesn't seem to handle grayscale images correctly. They get a much brighter colour than intended.

[2015-05-19 12:58] DZCreeper commented on #281
Indeed, that was another issue that was discovered now that I recall. I believe the vanilla items have already undergone optimization and it worked well and I think that's because none of them are complete grayscale.

[2015-05-19 13:37] StefanTT commented on #281
Converting the images to indexed colors usually helps. But as it makes manipulating them harder I did not do it for most of my images.

Maybe we could have a script that converts the images to indexed if this makes the file smaller, and run this script when creating a release package?

[2015-05-19 21:56] p75369 opened #284 "Large Bloodstone Brick"
Above is using the same texture as Bloodstone Brick.

From Blood Magic.

[2015-05-20 14:18] Zyx-2000 commented on #281
I first noticed the grayscale issue on the vanilla stone bricks; the fact that the problem didn't appear on the mossy variant was what told me that it is a grayscale issue.

Anyway, what I'm going to do is that I will make compressed textures for the mods in my modpack over time, uploading them when I've tested them. I'll also make my own edition of this pack, only containing support for those mod

[2015-05-22 21:42] mouse-an commented on #281
Well, I just run pngcrush though all folders with "-brute -l 9" arguments....
According to 7-zip info:
Original pack: 54 345 453 bytes
After pngcrush: 33 479 819 bytes in uncompressed folder.

Tested with mods I'm using - no difference with the original pack.
If someone interested:
https://dl.dropboxusercontent.com/u/43499309/F32-1.7.10_crushed.zip

[2015-05-27 14:29] Evolution0 commented on #281
@mouse-an: I just noticed pngcrush doesn't have -reduce listed in the man page (which prevents loss), is it version specific or just an outdated man page?

As I would recommend using `-reduce -brute -l 9` due to:

@StefanTT: The arguments above (mine and mouse-an's) do this automatically with pngcrush, it chooses the best method and using -reduce prevents things like the grayscale issue Zyx-2000 m

[2015-05-27 22:00] #284 closed

[2015-05-27 22:05] DZCreeper commented on #281
If the compression has no loss and there is no texture issues, I will just use that for the normal packs instead of offering a separated version.

[2015-05-27 23:30] Evolution0 commented on #281
It doesn't seem to so far, it was mainly -reduce and converting B&W textures to grayscale that was the issue.

Also edited my script example, forgot to zip it after it was done. Though you will probably reorganize the script if it becomes the main release anyway.

[2015-05-27 23:55] DZCreeper commented on #281
Have you checked the final size if -brute is not used? Apparently that checks each image with every algorithm instead of using heuristics to find select just a few. I can imagine that dramatically increasing build time.

[2015-05-28 02:11] Evolution0 commented on #281
I'll do a run of each to see, while I think its not actually much (its only a few ms per file on average) I suppose that can add up when you have something like 25k files.

[2015-05-28 02:28] DZCreeper commented on #281
Yeah, its in the range of 20 thousand files I believe. If possible I would also like to know how long each run takes and what processor you are using.

[2015-05-28 03:17] Evolution0 commented on #281
Took a about an hour for the -l 9 only build.
My processor is a Phenom II X4 B55 @ 3.2Ghz

Doing the -brute build now.

[2015-05-28 04:13] DZCreeper commented on #281
Yikes, an hour is a bit longer than I was expecting. Is it using all 4 cores while doing so? I really don't want max out the CPU on the server for more than a couple minutes at most so I might have do the compression on something with a little more power that I have at my house and then upload the finished file.

[2015-05-28 04:44] Evolution0 commented on #281
I don't think so though it is possible to make it do so apparently: http://www.nathanboyce.com/pngcrush-script/

Should only require a little bit of modification.

[2015-05-28 05:45] DZCreeper commented on #281
Let me know what the brute timing ends up being. From what I can see, png compression is strictly CPU based once you have small enough seek times, which any SSD should be able to reach.

If we end up multi-threading the compression to use 4 cores I can cut down the non brute time to 10 minutes or less. The cores in the server are a good bit faster than what you have, so it will be more like a 6x i

[2015-05-28 12:41] Evolution0 commented on #281
The brute build ended up being about 15 minutes longer.

[2015-05-30 06:51] Unrepentant-Atheist opened #299 "[Ender IO] Capacitors textures too similiar!"
The capacitor textures are too similar in my opinion. It's hard to quickly distinguish between basic, double-layer, and octathingmajing capacitor.

[2015-05-30 14:16] StefanTT commented on #299
Yes this is also my opinion. The old textures were better distinguishable.
Unfortunately this is how the original textures look now.

[2015-05-30 15:46] StefanTT commented on #299
After some thinking ... I will try to improve the look of the different capacitors without breaking the original style.

[2015-05-30 15:55] Xee1 commented on #299
https://github.com/SleepyTrousers/EnderIO/commit/129ef251c103b5dbcb9ed864918efae114493f21
EnderIO changes the capacitor again.

[2015-05-30 16:44] StefanTT commented on #299
Thanks, I did not notice that yet. I will adapt it to the new design when changing the capacitors.

[2015-05-30 18:06] StefanTT commented on #299
Please have a look at my take on improving the capacitors: https://github.com/F32Organization/Faithful32-1.7.10/pull/302

[2015-06-01 07:50] Unrepentant-Atheist commented on #299
Looks much better! Me likey!

[2015-06-02 07:32] Unrepentant-Atheist opened #321 "[Ender IO] Pulsating + Ender Crystal textures too similiar."
Same issue as with the capacitor, the ender and pulsating crystals are too similiar in color.

Perhaps it's a good idea to revisit the Faithful ideology in this case. Even though Pulsating and Vibrant alloy have similiar color hue, it might be a good idea to do it different in this texture pack.

[2015-06-03 15:20] StefanTT commented on #299
I think this issue can be closed.

[2015-06-03 15:36] StefanTT commented on #321
Please have a look at https://github.com/F32Organization/Faithful32-1.7.10/pull/322

It's somewhat better with this change. The problem is IMO the pulsating effect on both crystals which has the same effect color.

[2015-06-07 07:49] Unrepentant-Atheist opened #331 "Buildcraft 7+ texture"
Textures for Buildcraft Version 7+ need to be redistributed as Buildcraft is made modular. The names are the same, just not 1 folder anymore.

[2015-06-07 10:34] DZCreeper commented on #321
Going to close this for now. From what I understand changing the textures further would require a deviation from the normal EnderIO textures. If this is an issue with vanilla EnderIO crystal textures, bring it up with on their Github page and once those are changed, Faithful will be updated to match.

[2015-06-07 10:34] #321 closed

[2015-06-07 10:35] #299 closed

[2015-06-07 10:37] DZCreeper commented on #281
I am setting some time aside in the near future to setup a dev environment and then I will be adding compression to the build script.

[2015-06-07 10:38] #5 closed

[2015-06-07 10:38] #2 closed

[2015-06-07 10:38] #3 closed

[2015-06-08 00:03] Evolution0 commented on #331
This is problematic as inside the jars the textures are not in an assets folder, they are just loose files mixed in with the class files which would mean that all BC7 textures would need to be present in the root of the repo.

Now they *can* be put in a folder for the sake of keeping things neat and later moved by the script during packaging.

Might want to wait for a second opinion on this though

[2015-06-08 18:53] Unrepentant-Atheist commented on #331
What do ya mean problematic? All ya gotta do is create folders and redistribute the textures y'all currently got in buildcraft. The new folder structure is this one: http://i.imgur.com/ebjOGTr.png

[2015-06-09 00:12] Evolution0 commented on #331
I know *that*, I couldn't figure out the folder structure though as when you pop open the jar files there are no folders inside. I had to go over to the buildcraft repo and take a peek at the source just to figure it out.

So by problematic I was under the assumption that they weren't even using an assets directory which would have made a mess.

[2015-06-09 05:10] #279 closed

[2015-06-09 13:32] Jules06 opened #335 "Please do: Botania relics"
Thanks !

[2015-06-09 15:02] Unrepentant-Atheist commented on #331
You do know, you can rename *.jar into *.zip and open it up?

[2015-06-09 15:10] StefanTT commented on #331
Just as a quick side node: I would prefer to not drop BC6 support yet, as most mod packs still use BC6.

[2015-06-09 16:30] Evolution0 commented on #331
I've already mentioned twice that I *have* opened them up. There are no folders but there *are* loose class and image files.

That is irrelevant now though, I've created the modular folder structure based on the BC repo and moved over what was salvageable, I've left the existing BC folder untouched to maintain BC6 support.

If a user adds the BC7 (non-modular) jar does it use the main BC folder to

[2015-06-09 16:32] Evolution0 commented on #335
I'm guessing its a newer core feature that we haven't textured yet?

[2015-06-09 16:40] StefanTT commented on #331
Urks that looks very ugly (having the images in the root folder)

[2015-06-09 16:46] StefanTT commented on #331
Ok I had a look at the JARs, just to be sure. Downloaded both the all-in-one and some modular JARs of bc 7.0.8 from http://mod-buildcraft.com/pages/download.html

For me they are properly packaged with assets/*/textures folders.

[2015-06-09 16:49] Evolution0 commented on #331
Then its most likely that peazip is collapsing everything in flat mode and showing me only the files, disabling flat mode hides any directories and shows me just the licence.

No big deal, I can check the full name on the right it seems which has the full path in it.

[2015-06-09 18:22] Jules06 commented on #335
No, these are just some recently added item dropped by the new boss

[2015-06-09 23:07] Evolution0 commented on #335
Seems like Botania has a lot more to be done in general, I generally contribute to tech mods (I don't even play magic mods) but I at least updated the TODO directory to the recent version of Botania.

Gonna wait for my other PR to go through before I make one for it.

@StefanTT Seems to be the main contributor of Botania textures but Id be open to at least help things along (There are a lot from w

[2015-06-10 00:20] Evolution0 commented on #120
@DZCreeper
This can most likely be closed, its due to the fine details/transparency in glass textures and mipmapping in optifine. Without mipmapping everything is fine so its no fault of the pack itself.

[2015-06-10 06:16] Unrepentant-Atheist opened #338 "Do: Mariculture"
I'm missing me some Faithful Mariculture textures :). http://minecraft.curseforge.com/mc-mods/68023-mariculture

[2015-06-10 07:16] Evolution0 commented on #338
Added to todo for now at least.

[2015-06-13 07:25] Unrepentant-Atheist opened #343 "Do: Tainted Magic"
Tghere's a new thaumcraft addon I'd like to have Faithful textures for: http://minecraft.curseforge.com/mc-mods/231061-tainted-magic-a-thaumcraft-addon

Much obliged.

[2015-06-13 14:39] Evolution0 commented on #343
I'll probably add it to todo if no one else does, gonna focus on things already *in* todo for a while though.

[2015-06-16 04:03] 1skandar opened #357 "Ex Nihilo Ore Dust and Ore Sand textures are broken"
I'm getting the purple/black checkerboard of doom.

[2015-06-16 04:28] Evolution0 commented on #357
Does it still happen with the texture pack disabled?

Because as far as I know when a texture isn't found in a resource pack it attempts to load it from the JAR of the mod itself, so in this case it could be broken in Ex Nihilo itself as we don't have those two done.

[2015-06-16 05:20] 1skandar commented on #357
Nope, only within Faithful itself.

The textures ARE there, btw. It is looking for IconSandTemplate, IconDustTemplate, and IconGravelTemplate for the ore gravels, sands, and dusts. The first two exist in Faithful and are broken, the Gravel one does not and is falling back to the mod textures like it is supposed to.

[2015-06-16 06:01] DZCreeper commented on #357
For some reason the textures that were in the folder were all the same color but with varying alpha levels. Minecraft doesn't support alpha channel for regular solid blocks so that was probably the issue.

Either way, deleting them should at least let you use the default textures again.

[2015-06-16 17:32] AlexPlus117 opened #359 "RotaryCraft and ReactorCraft textures"
Hi, could you add missing textures of RotaryCraft and ReactorCraft mod, please? Thank you in advance.

[2015-06-16 18:05] Evolution0 commented on #359
Yeah pretty much all of Reika's mods are lacking support atm, I started on it but BC7 kinda grabbed my attention.

I'll probably get back to it soon though seeing as I now have them in my custom pack.

[2015-06-24 16:34] Unrepentant-Atheist opened #369 "Do: Immersive Engineering"
Speaking of this http://minecraft.curseforge.com/mc-mods/231951-immersive-engineering

[2015-06-24 18:16] Evolution0 commented on #369
Oh wow he finally released the beta publicly :D

[2015-06-26 02:41] 1skandar commented on #357
Confirmed fixed in the latest version. Thanks.

[2015-06-26 02:41] #357 closed

[2015-06-26 09:42] Unrepentant-Atheist opened #372 "Do: Junkdata stripping from ALL files!"
I did a metadata stripping from all my used files from this repo, and I saved over 15mb, just stripping off all the unnecessary metadata. That's a huge save!

[2015-06-30 21:18] GamerM opened #378 "New user questoins."
1. What's the difference between TODO section and Assets? Do I just edit the TODO folder only or is it just showing what is needed to be done.

2. Is this using the textures from the Faithful mod support site or in sync with it? If so can I use textures from there and put it in here?

I'm a new user for this respiratory so I don't know how things goes here. Thanks!

[2015-06-30 21:56] DZCreeper commented on #378
1. The TODO folder is for textures that haven't been done or need to be redone.

2. That depends on which site you mean. If you mean the legacy mod support, then no, it is not a mirror of that but I am sure we have some textures that have been reused from that era. If you mean www.f32.me then yes, it is kept in sync with the Github repositories.

[2015-06-30 21:57] Iclario commented on #378
The file in the. TODO folder are the textures that have to be done. When you have edit it, just put it in his place in the asset folder.
I hope my explanation is clear.

[2015-06-30 22:04] GamerM commented on #378
For question 2 I forgot to show the link to the site I was talking about. My bad.  (http://www.faithful32x32.com/modsupport.html). Anyways thanks! I will put some time into this at some point. I'll  mainly be focusing on IC2 and Buildcraft when starting off.

[2015-06-30 22:41] Evolution0 commented on #378
No as DZCreeper said that is an independent entity but we may have some reused textures. I'm not sure how updated it is either as you don't see Vattic often and the main thread is rarely updated.

Most of the time when someone makes mod support textures now they just get dumped in a post in the thread and forgotten and never make it onto the mod support page.

The workflow is pretty straight forwa

[2015-07-01 03:54] sirjaden92 commented on #357
I've noticed in the latest update this error has occurred again. Ore dust & Ore sand are broken again.

[2015-07-01 06:05] TheDoctorSoda opened #379 "Something off about my pie texture"
Not quite sure what http://i.imgur.com/PsUwtUL.png

EDIT: Did I fix it? still looks a bit off to me http://i.imgur.com/LbwzM6a.png

[2015-07-01 07:27] DZCreeper commented on #379
The first image in my opinion is almost perfect, the pie itself just needs to be 1 pixel taller to give the illusion of being round.

[2015-07-01 19:49] sirjaden92 opened #381 "Ex Nihilo Ore Dust and Ore Sand textures are broken again"
I'm getting solid black tiles now because there is nothing in the image file.

[2015-07-08 18:35] GamerM commented on #378
Thanks this really help me. Know what to do now.

[2015-07-08 18:35] #378 closed

[2015-07-09 12:35] GamerM commented on #331
As of right now i'm going to work on the redistribution of the files. As of buildcraft 7.0.13 all texture seen before in the Buildcraft folder assets/buildcraft are completely remove. Does that mean everything inside the folder need to be cut and pasted to the right folder. I'm seeing double copies tbh.

[2015-07-09 22:00] GamerM opened #388 "Multiple instances of texture in the Buildcraft folders?"
Hello. I am looking through the buildcraft folders (buildcraft, core, energy, factory, robotics, silicon, and transport) and was trying to organize things out (#331). When i was looking through them i notice there are Multiple texture for one object? Both of these textures can be used for F32 and it is hard to make a decision. What should i do with these textures?

A good example are the laser bea

[2015-07-10 04:29] Evolution0 commented on #388
No I was fully aware. You may not know but Pre-Buildcraft 6 (BC7 is fairly new, people still play 6) all textures were contained in a single Buildcraft folder, this however isn't the case with BC7 which uses separate folders for each module. (But luckily doesn't use the original Buildcraft assets folder)

The reason for having both is to retain compatibility with BC6 while also providing Faithful

[2015-07-10 14:08] GamerM commented on #388
I see what you are saying about making it compatible with BC6 and BC7, but as of right now there are still some untexture items,blocks, etc if you are using BC7. I was thinking we should use the BC6 textures as a filler for BC7 textures for now. Later on I or anyone will edit those texture to make it more updated and have cleaner look. BC is one of the most use mods and can well be the thing that

[2015-07-10 15:30] Evolution0 commented on #388
We already moved over what textures could be used.

And that isn't how we go about texturing things, the only textures that should be in the BC7 folders are ones in faithful resolution that match the new style. All textures that aren't done should be in TODO and moved as they are completed.

This is for consistency and to avoid mistakes.

[2015-07-10 21:32] GamerM commented on #388
I understand @Evolution0 how texturing works here and how the mod.jar has already the default texture in it. What i mean from untexture is how it is using the default textures then the one in F32 (aka the ones in the buildcraft folder).

I never knew that you guys are making a new F32 style for BC7. Which made me think that you guys didn't move the texture right to the modules yet (#331 was open),

[2015-07-11 00:57] Evolution0 commented on #388
Yeah some of the pipes are *maybe* usable, those are the only textures I didn't go over. Keep in mind though while they may at first glance look the same they may not be on closer inspection.

We had this problem early on where textures got copied over because they looked the same but they really weren't. (You have to zoom in, CyanideX did a palette change among other details in the new BC7 textur

[2015-07-11 14:20] GamerM commented on #388
Ahh i see (Do you know the issue or commit that discuss the problem?). Well to be honest i started inspection already on the pipes and i will be delighted to help you out.  They all seems to be ok, beside the occasional lighting problems between blocks. For the most part it is completely fine. I would say though that some texture should be redone entirely. An example would be how i made the cobble

[2015-07-11 20:42] #388 closed

[2015-07-11 22:17] LaLamborghini opened #390 "With The Faithful 32 - Modded Edition Texture Pack"
With the broken items like broken iron ore, broken lead ore etc. and the crushed and powered items, the item is just a black box. Is there any known reason why its like this?

[2015-07-12 14:25] Evolution0 commented on #390
Mod name?

Would help the guys find the issue faster rather than searching thousands of textures.

[2015-07-15 05:24] blocky-mcsquare opened #391 "Ex Nihilo broken textures"
My issue is similar to #390 and #381.  With the July 13 build, I have completely black squares where the texture for the broken, crushed, and powdered ores should be.  Mousing over the ore changes the texture to a completely gray square.

![2015-07-15_01 12 07](https://cloud.githubusercontent.com/assets/13146448/8691284/a3d44e9e-2a8e-11e5-9ac2-abe012bb0c4f.png)

Deleting the files listed below fro

[2015-07-15 05:46] blocky-mcsquare commented on #391
This is also happening with the ItemIngotBase.png and ItemIngotTemplate.png from the assets/exnihilo/textures/items folder.

[2015-07-15 11:08] LaLamborghini commented on #390
thank you blocky-mcsquare

[2015-07-15 11:09] LaLamborghini opened #393 "With The Faithful 32 - Modded Edition Texture Pack"
With the broken items like broken iron ore, broken lead ore etc. and the crushed and powered items, the item is just a black box. Is there any known reason why its like this? Mod Name = Ex Nihlio

[2015-07-15 17:01] maxwei789 opened #395 "Ex Astrias/Ex Nihilo"
All broken ores in Ex Astrias and Ex Nihilo are black, no texture. Can this get fixed.

[2015-07-15 19:09] Evolution0 commented on #393
Don't create double issues just edit the one already open.

[2015-07-15 19:59] #390 closed

[2015-07-15 20:01] DZCreeper commented on #381
Duplicate of #391

[2015-07-15 20:01] #381 closed

[2015-07-15 20:01] DZCreeper commented on #395
Duplicate of #391

[2015-07-15 20:01] #395 closed

[2015-07-15 20:01] DZCreeper commented on #393
Duplicate of #391

[2015-07-15 20:01] #393 closed

[2015-07-15 21:36] blocky-mcsquare commented on #391
I'm running Agrarian Skies 2, version 1.1.7, which includes Ex Nihilo version Ex-Nihilo-1.38-44.  I'm not sure when I last updated the pack, I believe it was two weeks ago.

I download my F32-ME texture packs from http://www.f32.me/ and update them in my modpacks manually.

I apologize if I wasn't clear, this problem began for me when I changed out my version of Faithful 32, not Ex Nihilo or Agrar

[2015-07-16 04:27] Ugachaga opened #396 "Glass icons invisibility"
Glass icons becomes almost invisible when I use Faithful32.

Vanilla:
![glass_vanila](https://cloud.githubusercontent.com/assets/12869346/8715445/efbf77be-2ba3-11e5-8e06-ab32e9059495.jpg)

F32ME:
![glass_f32me](https://cloud.githubusercontent.com/assets/12869346/8715451/fd2453a2-2ba3-11e5-9177-88b83c9325e6.jpg)

From left to right: minecraft glass, enderio fused quartz, enderio quite clear glass,

[2015-07-16 12:35] Evolution0 commented on #396
This is due to texture filtering/mipmapping. Try disabling it.

Nothing that can be fixed on this end.

You will get the same issue with most texture packs as long as they use transparent textures with fine (1-2px) details and it gets worse as the resolution increases. (as you can see even vanilla glass has bits missing)

You might be wondering "But why is the IC2 and Bluepower glass fine?" again

[2015-07-16 12:44] Xen1290 commented on #396
https://github.com/F32Organization/Faithful32-1.7.10/issues/120

[2015-07-16 12:45] Evolution0 commented on #391
Its due to the textures being blank. I could have sworn we had this issue ages ago and it was fixed.. unless someone did a PR without pulling/rebasing in which it got overwritten and no one noticed.

[2015-07-16 13:02] Xen1290 commented on #391
https://github.com/F32Organization/Faithful32-1.7.10/pull/373
This broke the textures, he added empty textures for template:
From the repo:
https://github.com/TheDoctorSoda/Faithful32-1.7.10/blob/1f5569179c3b4a1482199b9e0bdb98bf73dc3579/assets/exnihilo/textures/items/ItemBrokenTemplate.png
From the jar:
![itembrokentemplate](https://cloud.githubusercontent.com/assets/8685029/8723132/a3dc25b8-2bcb-

[2015-07-16 13:18] #396 closed

[2015-07-16 13:18] Iclario commented on #396
Duplicate issue

[2015-07-25 10:06] fewizz commented on #115
Any updates on this? @DZCreeper (Again)

[2015-07-27 13:29] #391 closed

[2015-07-27 22:51] evilhamsterman opened #405 "Nullifier UI misaligned"
In Thermal Expansion 4.0.3B1 as included in Infinity 1.9.0 the Nullifier UI is misaligned
![screenshot from 2015-07-27 15-49-37](https://cloud.githubusercontent.com/assets/59560/8919807/5d1e4a84-3477-11e5-8edc-d771720e295d.png)

[2015-07-28 00:15] #379 closed

[2015-07-28 03:54] Wolf68k commented on #405
Fixed in Pull #407

[2015-07-28 13:57] anishin opened #408 "Last builds cause problems with JourneyMap."
Last builds of F32 reset colormap of JourneyMap. And after it I see black circle instead of map.
Some textures cause error in process of creation 'colormap.json' file, and JourneyMap sets black color there for each block.
I can't provide now any another information. But I can provide logs (if it's needed).

P. S. Sorry for my English. I'm from Russia.

[2015-07-28 15:47] anishin commented on #408
I downloaded build from 23 July (https://github.com/F32Organization/Faithful32-1.7.10/commit/a1910c48133e44c920116c4799e8885d3f203d99). It works properly. Bug is in last builds.

[2015-07-29 01:01] evilhamsterman commented on #405
Looks like it is fixed
![2015-07-28_18 01 33](https://cloud.githubusercontent.com/assets/59560/8947684/ba0ef6a4-3552-11e5-9ef7-9c03c028fd0a.png)

[2015-07-29 01:01] #405 closed

[2015-07-29 15:40] StefanTT opened #413 "Which mod versions to do textures for. Official notice."
Edited by DZCreeper.

Textures are to be completed and named to support the latest release copy of a mod. This means no pre-release, beta, or alpha versions! Two exceptions:

1. The author is indicating that people should use a pre-release copy.

2. It is the only copy of the mod currently available.

[2015-08-01 04:30] evilhamsterman opened #416 "EnderIO Farming station GUI misaligned"
In EnderIO 2.2.8.381 as included in Infinity 1.9.0 the Farming Station UI is misaligned

![2015-07-31_21 24 57](https://cloud.githubusercontent.com/assets/59560/9020599/4e245f1c-37cb-11e5-9fcc-6dded73f4422.png)

[2015-08-01 04:36] evilhamsterman commented on #416
In fact it appears to be completely different then the UI that is used in the current version. Comparison to no resource pack
![2015-07-31_21 35 28](https://cloud.githubusercontent.com/assets/59560/9020618/244f3b34-37cc-11e5-81af-6fd2a7e87b4e.png)

[2015-08-01 06:48] DZCreeper commented on #416
Something is wrong here. The farmStation.png from EnderIO was last changed on March 19. The latest version of Infinity should be using that texture. Perhaps visit the EnderIO repository and ask what is going on. https://github.com/SleepyTrousers/EnderIO/issues

March 19: Bonemeal slots added.

March 17: Apple and leave slots added.

February 23: Shear slot added.

https://github.com/SleepyTrousers

[2015-08-01 06:57] Adaptivity commented on #416
I can easily explain this to you: Latest available *stable* version of Ender IO 2.2.8.381 doesn't have Bonemeal, Apple, Leaves, Shear slots. The latest texture in repository is for *unstable* incomplete Ender IO 2.3 which is still in development and have no set release date.

[2015-08-01 08:34] DZCreeper commented on #416
Thank you very much for the information.

@evilhamsterman In your pull request to fix this please move the current farmStation.png to the folder I have created https://github.com/F32Organization/Faithful32-1.7.10/commit/53cdcda3d96560ff3034b3b55ff7e1a2fd419efe

When Ender IO 2.3 is released we will simply swap out the texture.

[2015-08-01 08:43] anishin commented on #408
Fixed in last build.

[2015-08-01 09:18] #408 closed

[2015-08-01 13:05] StefanTT commented on #416
We could have an "unstable" branch of our repository for those changes.

[2015-08-01 14:38] evilhamsterman commented on #416
I agree with @StefanTT the best way to handle this would be a separate branch. However for now I have rebased off of the master and copied the development version of the gui to the folder requested. Since PR #418 was locked I can't comment there.

[2015-08-01 14:49] evilhamsterman commented on #416
It also appears that this texture has been "Fixed" and refixed several times because of this in commits
f974011, 1a5da2e, and 6422b72. I don't think there is a consistency on whether the git repo is hosting textures for stable versions of mods or dev versions of the mods. Having a separate branch for dev/unstable versions of mods would be a good idea. The master branch would follow the stable rele

[2015-08-01 19:28] DZCreeper commented on #416
@StefanTT That is the plan with the new folder I have created. People who want to do work on for unreleased mod versions can put that stuff in the DevModTextures folder.

[2015-08-01 19:29] #416 closed

[2015-08-05 01:45] nalkrien opened #423 "Tinker Slab Furnace"
I believe the tinker slab furnace is still using the buggy compressed version of the texture, it is showing up whitish in game.

[2015-08-06 20:49] steveowashere commented on #423
Seems you are correct,
For some reason or anything those textures are saved in Gray scale color mode, To fix this you can simply save the affected textures in RGB color mode with Photoshop. If you don't have PS or simply don't want to fix it yourself, I'll create a pull request to fix the affected textures. I just need to test and see if other textures are affected.

[2015-08-11 02:45] TheFarix opened #429 "ExNihilo texture problem"
While playing Agrarian Skies 2, I encountered a texture bug with ExNihilo. The various broken, crushed, powered, and ingots textures render as black boxes. I looked to see if the PNG files were broken, but couldn't find the correct images.

[2015-08-11 03:07] Greenphlem commented on #429
/Do you have optifine

[2015-08-11 03:12] TheFarix commented on #429
Nope. It is the default install through Curse. The only thing I changed was add some textures for Agrocraft, but that shouldn't cause a problem with ExNihilo. I could try to redownload the master file and see it works.

[2015-08-11 03:48] TheFarix commented on #429
Well apparently, the textures work now. Not sure what was the problem before.

[2015-08-11 07:55] #429 closed

[2015-08-11 13:58] steveowashere opened #430 "Why is not the latest changes to the F32 pack available through FTB launcher?"
Just noticed when i downloaded the Faithful texture for Vanilla+ and Infinity through FTB launcher it's downloaded a very outdated version of the pack. Is this intentional? Or does the FTB launcher not use www.f32.me as a mirror?

[2015-08-11 14:51] Evolution0 commented on #430
Not sure how it is updated but afaik the version that is on the launcher is maintained by @DZCreeper so wait for him to chime in.

[2015-08-15 14:35] dydy7210 opened #431 "Ic2 experimental 1.7 Miner GUI texture is outdated"
Hello, the texture for the Miner from ic² experimental is outdated.

[2015-08-15 20:25] steveowashere commented on #430
Ah I see. I guess that's one  way of pushing everyone away from the FTB launcher then and towards the Client.

Any idea if texture packs are going to be downloadable through the client? I have no experience with the client, it doesn't run on Linux it looks like.

[2015-08-16 04:38] DZCreeper commented on #430
Sorry about my recent absence. I talked to progwml on Skype after neglecting to launch it for 4 months. The 1.7.10 version of the pack should be updated sometime in the next 24 hours.

I totally forgot about FTB because I don't play Minecraft much anymore and never using the FTB launcher. I asked about automatic updates for the pack and currently there is no solution but an API for it might be in

[2015-08-16 09:40] steveowashere commented on #430
Since FTB will be discontinuing their launcher at some point, it might be worth setting up the pack on the Curse Launcher. Since it seems texture packs will be treated the same as they are now on the FTB launcher.*  I think putting the pack on Curse would help reach a greater audience, since it will be the only option for FTB packs. This is just my opinion of other people think differently then by

[2015-08-23 17:15] steveowashere commented on #431
Will take a look at it before making my next commit (Monday or Tuesday). Let us know if you spot any other bugs.

[2015-08-25 00:28] #431 closed

[2015-08-25 00:29] #423 closed

[2015-08-30 08:56] Adaptivity opened #444 "Do: Wood Stuff"
https://github.com/ganymedes01/WoodStuff/tree/master/src/main/resources/assets/woodstuff/textures It's just have texture templates. Should be easy enough.

[2015-08-30 08:59] Adaptivity opened #445 "Do: AOBD and AOBDBB"
https://github.com/ganymedes01/Another-One-Bites-the-Dust/tree/mc1.7/src/main/resources/assets/aobd/textures
Again just templates. Some items already completed.
https://github.com/ganymedes01/Another-One-Bites-The-Dust-Berry-Bushes/tree/master/src/main/resources/assets/aobdbb/textures
And its addon.

[2015-08-30 12:47] steveowashere commented on #444
Should be pretty simple, I'll try to include it in my commits along with Immersive Engineering tonight.

[2015-08-30 18:53] Adaptivity commented on #444
Done. Thanks @steveowashere

[2015-08-30 18:53] #444 closed

[2015-09-02 02:58] Serifina opened #448 "Immersive Engineering Nickel Ore needs recoloring"
Immersive Engineering's nickel ore blends in much, much too well with stone, making it very, very easy to miss while mining. Could it be modified/recolored in some fashion to make it more noticeable?

http://i.imgur.com/XEM8iCT.png

[2015-09-02 06:57] steveowashere commented on #448
When I made the texture, I didn't see there was shadows around the ore parts. So I fixed that and it looks something like this:
![2015-09-02_08 53 36](https://cloud.githubusercontent.com/assets/13194819/9624795/6602cb98-5150-11e5-80c6-b1ddc415bd1e.png)

Original for comparison

![2015-09-02_08 54 03](https://cloud.githubusercontent.com/assets/13194819/9624796/6a9aa7ca-5150-11e5-8b41-3cafa5d4025a.p

[2015-09-03 16:50] Xen1290 commented on #430
I think you can use scripts like mods to update the pack automatically on curseforge.
So, any news?

[2015-09-03 17:08] Xen1290 commented on #120
As @Evolution0 has said, @DZCreeper this can be closed.

[2015-09-03 17:10] Xen1290 commented on #87
@DZCreeper this can be closed, also the new chisel is here:
http://minecraft.curseforge.com/mc-mods/235279-chisel

[2015-09-03 19:24] #87 closed

[2015-09-03 19:24] #120 closed

[2015-09-05 20:30] Boqzo1 opened #451 "Do: ExtraTiC Thermal Expansion/Draconium/ETC Tools"
Please texture the tools that ExtraTiC adds for things like Enderium, Lumium, Signalum, Draconium, Awakened Draconium, Dark Steel, and the rest of the different types of tools it allows!

[2015-09-05 21:22] steveowashere commented on #451
I'm currently in the middle of working on Botania and Chisel textures, but i'll see if I can include a few of the popular metals in my next commit.

[2015-09-05 22:25] Boqzo1 commented on #451
Sounds good!

[2015-09-07 00:28] Boqzo1 commented on #451
Any idea of when the textures will be made?

[2015-09-07 09:15] steveowashere commented on #451
Sometimes this week? Depends on busy I get IRL (just started up with a new semester at Uni) Plus it doesn't help there are thousands of textures in the ExtraTiC mod.

[2015-09-07 13:28] steveowashere commented on #451
Yea I was thinking of a way of automating the process while I was working on them before. I guess it might be worth a shot trying to setup an automation click script of some kind. Any hints as to what software you were using before?

[2015-09-07 17:33] steveowashere commented on #451
Wow, wonderful piece of software. I can batch process all the texture from each part in one go. I do have to program the macro for each piece and open all the pieces before hand but it's still much more efficient this way.

[2015-09-10 20:05] Boqzo1 commented on #451
I would suggest doing the popular ones such as the thermal expansion metals

[2015-09-10 20:56] steveowashere commented on #451
I'm doing all parts from all mods sequentially. So far i've done, arrow, axe, battleaxe, battlesign, bolt, boardsword, chisel, crossbow, and cutlass. The next commit I should finish the rest off, just takes time because there are thousands of files.

[2015-09-11 03:48] Adaptivity commented on #451
@steveowashere next ExtraTiC version will support Immersive Engineering constantan and maybe DivineRPG. More work to you :) And thanks for doing this!

[2015-09-11 04:16] DZCreeper commented on #451
I was fairly certain Tinkers Construct used a greyscale auto texture system
lately. Has ExtraTiC not adopted that?
On Sep 10, 2015 10:14 PM, "Martin Botev" <notifications@github.com> wrote:

[2015-09-11 06:08] steveowashere commented on #451
@Adaptivity I guess i'll deal with that when it comes out :P

Tinker's uses the grayscale texture system and then a few colored textures here and there, but ExtraTIC has for sure not adopted the grayscale coloring system, would amazing if the author figured that out, but it's probably too late in development for that.

[2015-09-11 08:39] Adaptivity commented on #451
Glassmaker prefers manually created textures. Since autogenerated ones have lower quality.

[2015-09-11 16:15] Adaptivity commented on #451
Dunno. I remember that he said about it to me on IRC.

[2015-09-11 23:12] Boqzo1 commented on #451
I do want to say thank you very much for working on these textures for me because I've been wanting them but didn't know you could request textures on here

[2015-09-12 16:12] oddball250 opened #454 "Glass is completly invisible"
Glass is invisible and parts of glass plane is missing on the edges

[2015-09-12 16:30] steveowashere commented on #454
Screenshots?

Which glass from which mod? Or just vanilla glass?

[2015-09-12 16:58] Xen1290 commented on #454
https://github.com/F32Organization/Faithful32-1.7.10/issues/120

[2015-09-12 17:46] oddball250 commented on #454
i had another quick look and its the small items in the inventory that are missing the glass, eg rainmaker and other glass things, they appear when placed, but the glass plane is missing a couple pixels around the edge of it, Sorry no screen shots though my screenshoot folders broken for somereason

________________________________
From: Steven <notifications@github.com>
Sent: 12 September 2015 17

[2015-09-14 13:06] Adaptivity commented on #451
@iMarbot in some cases autogenerated textures can look weird. Check issue 1682 on Tinkers Construct issue tracker.

[2015-09-14 18:21] Adaptivity opened #457 "Do: Better Sleeping"
https://github.com/CallMeFoxie/BetterSleeping/tree/master/src/main/resources/assets/bettersleeping/textures Would appreciate if somebody can make a gui bar :)

[2015-09-16 07:20] steveowashere opened #458 "Texture atlases in for Reika's stuff are corrupt"
I just noticed the other day that the texture atlases for Reika's (/Reika/RotaryCraft/Textures/Items)
stuff are corrupt:
![corrupt](https://cloud.githubusercontent.com/assets/13194819/9898611/e53ad19a-5c53-11e5-8e42-87df31c5af6f.PNG)

Original:
![org](https://cloud.githubusercontent.com/assets/13194819/9898615/eba352a0-5c53-11e5-939e-cdf669b78b9b.PNG)

I guess they'll need to be redone sometime, u

[2015-09-17 17:18] Evolution0 commented on #454
Its like this: if its missing in the game but not in the texture itself it isn't the fault of the texture but the way the texture is being processed/displayed.

In this case its probably due to texture filtering of some sort. Nothing that can be done from this end without ruining the textures (thicker lines etc)

So as @Xen1290 pointed out this is a duplicate of a closed issue.

[2015-09-17 17:27] Evolution0 commented on #458
Not corrupt exactly, its due to it being converted to something like PNG8 and not having enough colors left in the index to go around.

And looking at the commit history it seems its my fault actually as I export pretty much all my textures in PNG8 and while that is perfectly fine for individual textures I must have had a brain fart in this instance as there is far too many colors in that image to

[2015-09-17 18:24] steveowashere commented on #458
Ah okay, should be an easy fix then. I guess I'll wait until the change is reverted to start work on the atlas.
What software do you use to save in PNG8? I use GIMP (I prefer it over PS for pixel work), but it lacks decent PNG saving options.

[2015-09-17 18:37] Adaptivity commented on #458
@Evolution0 Github has revert button for years :smile:

[2015-09-18 21:01] Evolution0 commented on #458
I don't have write access @Adaptivity and have always used the terminal to manage repos haha

@steveowashere PS. Since I use it for everything else it was only natural for me, doing pixel work in PS takes some configuration to make comfortable though yes.

[2015-09-19 00:38] mrammy opened #462 "[Request] Texture for the dev version of EnderIO's Vacuum Chest"
Currently looks like this ![](http://i.imgur.com/2VCeExA.png)

[2015-09-19 00:50] mrammy opened #463 "Do: Icarus Textures"
The link to the mod is http://minecraft.curseforge.com/mc-mods/235702-tombenpotters-icarus.

[2015-09-19 06:26] steveowashere commented on #462
Generally speaking we don't do textures for dev/beta version of mods. We wait until full releases come out. (see #413). But I can try to update the GUI and add it to the DevModTextures folder. From there you can download it and manually add it to your pack if you want.

[2015-09-19 06:30] mrammy commented on #462
That would be great thanks!

[2015-09-19 07:04] steveowashere commented on #462
You can download it here: https://mega.nz/#!ihZHGT6T!Q1_Jur9uRtEemXcQSYKXDHBQTi07ytnAP0_SL2pPZI8

Otherwise I will add it to my next commit, that way others can check my work. However I did quickly test it and it looks good to me.

[2015-09-19 10:36] steveowashere commented on #458
I guess i'll have to break down and start using PS... grumble grumble...

[2015-09-19 10:36] #458 closed

[2015-09-19 10:39] Adaptivity commented on #458
@Evolution0 you don't need a write access. Simply go to merged PR and find revert button at the bottom.
![dfasdsadasd](https://cloud.githubusercontent.com/assets/1560181/9975824/d68fa508-5ed3-11e5-94a1-1dd8b85f20b9.jpg)

[2015-09-21 17:28] WhichLilith opened #466 "Broken Aluminum Ingot Texture"
Hey there, I just want to let you know that in the last update (and already the one before, on September 18), the Tinker's Construct aluminum ingot texture is broken (back to low resolution). All other Tinker's ingots have a great look though. Anyway, you guys do a great job there, there is nothing better than Vattic's Faithful Modded Version :D Thanks so much for everything!

[2015-09-21 18:30] Adaptivity commented on #466
@steveowashere removed this for some reason in https://github.com/F32Organization/Faithful32-1.7.10/commit/41d3a306db53821f64eaf75f1107d18220b1b4bc

[2015-09-21 19:00] WhichLilith commented on #466
Hehehe, no problem. I just realized it yesterday, and thought to inform you guys as it seems just to be a little error (the other TC ingots look brilliant). Anyway, thanks a lot for the quick reply! And keep up the awesome work, many people appreciate what you are doing, and I cannot play MC without Faithful anymore :D

[2015-09-21 19:05] steveowashere commented on #466
@Adaptivity Is right, i accidentally removed that text when doing Immersive Engineering's stuff, my bad.

I'll make a commit to fix this.

@WhichLilith Thanks for reporting the error, glad you're enjoying the pack.

[2015-09-21 19:14] WhichLilith commented on #466
Thanks so much there! Glad I could help a bit there :D And it is more than just enjoying, I LOVE it :DDD

[2015-09-21 20:21] #466 closed

[2015-09-27 16:55] Boqzo1 commented on #451
Is there an estimated time when part 3/3 will be done?

[2015-09-27 18:11] steveowashere commented on #451
Pretty soon, I have all the textures made. I'm just checking all of them for errors now.

[2015-09-28 13:50] Adaptivity commented on #451
That's great news @steveowashere! Can you also complete [Tinkers item textures](https://github.com/F32Organization/Faithful32-1.7.10/tree/master/TODO/tinker/textures/items)? There are just a few left.

[2015-09-28 14:04] steveowashere commented on #451
I'll try to include that in my next commit :)

[2015-09-29 16:07] Boqzo1 commented on #451
Awesome! Can't wait to see the textures! So is it going to be released today?

[2015-09-29 16:13] steveowashere commented on #451
A pull request has been made: https://github.com/F32Organization/Faithful32-1.7.10/pull/469
So everyone has to look it over and check my work, then it will be committed to the master.

However, the textures are available on my repo now: https://github.com/steveowashere/Faithful32-1.7.10
Just be aware that I have only checked over them (I did so very thoroughly) but the rest of our group hasn't app

[2015-09-29 16:43] Boqzo1 commented on #451
Oh alright cool. Thank you so much for making them for me!

[2015-09-29 17:48] Adaptivity commented on #448
@DZCreeper FYI, should be closed. @steveowashere you can automatically close issues without bothering @DZCreeper. It's simple Github magic.
Just do something like this:
Closes #(issue number)
Closes #(issue number)
and etc
Keep in mind that each issue number should have word "Closes" in front of it. If you do so, Github automatically close mentioned issues when PR will be merged.

[2015-09-29 17:49] Adaptivity commented on #462
@DZCreeper close this too.

[2015-09-29 18:15] steveowashere commented on #448
Cool thanks @Adaptivity!
Closes #448

[2015-09-29 20:04] #369 closed

[2015-09-29 20:04] #448 closed

[2015-09-29 20:04] #462 closed

[2015-10-02 07:43] Speiger commented on #39
Even if it is based on Immibis version there is now a IC2 Classic out which is more compatible with Exp addons and seem to get more popular...
Just to say right away i am maintaining that version of IC2 Classic.
Would be  cool if you could support that too.
Little info: The textures from classic do not interfere with those from Exp, so it is possible to support both at once

[2015-10-02 12:11] Xen1290 commented on #39
@Speiger I'm doing this right now. I'm the guy  that asked you about GUI path

[2015-10-02 12:12] Speiger commented on #39
oh ok. ^^" Sry

[2015-10-02 12:13] Xen1290 commented on #39
No problems, sorry for possible english mistakes

[2015-10-10 18:48] #454 closed

[2015-10-10 18:50] DZCreeper commented on #4
Now supported, in need of constant updates.

[2015-10-10 18:50] #4 closed

[2015-10-11 15:55] Serifina opened #475 "(Botania) Chiseled Livingrock Brick"
Chiseled Livingrock Brick looks nearly identical to regular Livingrock Brick. Was this a mistake somewhere?

http://imgur.com/a/DOX32 (Imgur album comparing the two blocks with and without the resource pack).

[2015-10-11 17:03] steveowashere commented on #475
Seems to be two of the same textures (or similar texture) when they should be different. (livingrock01 and livingrock04)
Not sure if this in intentional because it was like this in older versions of Botania, or a mistake.

I'll create a fix for this at any rate.

[2015-10-11 22:32] escman1999 opened #477 "big reactors filled yellorium fuel rods missing texture"
they're just black and purple squares D:

[2015-10-12 00:24] #477 closed

[2015-10-12 00:29] #29 closed

[2015-10-12 00:31] DZCreeper commented on #39
IC2 Classic support will come when #476 is merged, closing this now.

[2015-10-12 00:31] #39 closed

[2015-10-12 00:32] #182 closed

[2015-10-12 00:34] #413 closed

[2015-10-12 17:35] DocNeO opened #478 "IC2 (GUISteamGenerator)"
In general, I noticed that in the assembly "Faithful 32 Modded Edition" do not have all the textures, so I decided to help you with Gui IC2. So I draw Gui of the steam generator "Before" and "After"

![guisteamgenerator](https://cloud.githubusercontent.com/assets/15088044/10434289/4f30e97c-7121-11e5-8c87-337303093843.png) ![guisteamgenerator](https://cloud.githubusercontent.com/assets/15088044/104

[2015-10-12 17:56] steveowashere commented on #478
Great work!

Please submit a pull request to have this file added to the pack. You can find the instructions on the main page under 'Contributing:'. If you have any questions, just ask :)

[2015-10-12 18:29] DocNeO commented on #478
The first time I am on the site, so I can not navigate, can help how to submit your file?)

[2015-10-12 18:53] steveowashere commented on #478
Try to read everything under 'Contributing'

https://github.com/F32Organization/Faithful32-1.7.10

You need git client: https://desktop.github.com/ (for Windows only)

[2015-10-12 20:21] #475 closed

[2015-10-12 23:18] Calenria opened #480 "Missing Texture: BoP Poison (Fluid)"
Versions:
 * BiomesOPlenty 1.7.10-2.1.0.1396
 * Faithful32:  Last rebuilt: October 12 2015 06:00

![Screenshot](http://i.imgur.com/PlfE5tP.png "Screenshot")

ohh and Honey too.

[2015-10-13 00:38] #480 closed

[2015-10-13 13:01] DocNeO opened #482 "Gui of IC2"
GUIWaterKineticGenerator
![guiwaterkineticgenerator](https://cloud.githubusercontent.com/assets/15088044/10455345/65f72048-71c3-11e5-9a74-7f1c4cb7b6a6.png)
![guiwaterkineticgenerator](https://cloud.githubusercontent.com/assets/15088044/10455441/fb9bb74e-71c3-11e5-86ea-d02ccd859fd8.png)

GUIWindKineticGenerator
![guiwindkineticgenerator](https://cloud.githubusercontent.com/assets/15088044/10455349/

[2015-10-14 12:03] Xen1290 commented on #115
http://minecraft.curseforge.com/projects/faithful-32-modded-edition#title-1
i found that. What is that? @DZCreeper @iMarbot @EddyHg80 @fewizz @Adaptivity

[2015-10-14 12:06] Xen1290 commented on #451
@steveowashere @DZCreeper I think this can be closed.

[2015-10-14 12:33] steveowashere commented on #451
I'll close it in my next commit.

[2015-10-14 12:38] Xen1290 commented on #451
:+1:

[2015-10-14 19:33] DZCreeper commented on #115
That is the pack uploaded to CurseForge, the account was created by @Greenphlem but I have access. I actually forgot about it but I am updating the pack today. I am just experimenting with using image compression on the pack before I do so.

[2015-10-14 19:45] DZCreeper commented on #281
Currently testing the following method:

for png in `find . -name "*.png"`;
    do
        pngcrush -ow -brute -l 9 "$png"
    done;

If anyone has a suggestion for making it faster that would be awesome.

[2015-10-14 20:38] DZCreeper commented on #281
Original pack: 79,474 KB

Compressed .zip after running pngcrush: 74,479 KB

Uncompressed .zip after running pngcrush: 81,056 KB

There is some merit to doing compression in the build script but it will require some tuning. Going to make some changes to reduce the base size first.

[2015-10-15 03:34] Evolution0 commented on #281
Moving over to a python based build script using subprocess would probably speed things up.

Would just need to loop through the file tree, chuck the filenames into an array, and split the array into X number of separate arrays to run the pngcrush command on as a subproc.

Edit: After a bit of googling it looks like someone has already done something similar (but better):
https://github.com/bitcoi

[2015-10-15 15:30] StefanTT commented on #281
I doubt that the shell is the bottleneck.
How about parallel execution of pngcrush?

find . -name "*.png" | xargs -n 1 -P 4 pngcrush -ow -brute -l 9

This would have 4 instances of pngcrush running.

Found at http://stackoverflow.com/questions/28357997/running-programs-in-parallel-using-xargs

[2015-10-15 17:42] DZCreeper commented on #281
Interesting approach although I was referring less to build time and more towards the final size.

The pack has slowly gone up in size over time and its at the level where the best compression and carefully trimming old textures will have final size over 70MB. I am currently debating the merit of a restructure so that Github would have the textures sorted my 'modID.version' and the build script be

[2015-10-16 15:12] Evolution0 commented on #482
If you are trying to contribute make a PR, this helps maintainers keep track as well as guarantees that you are credited.

[2015-10-17 17:46] UristMcStoutHorn opened #484 "Missing Texture: BC Transport - Quartz Transport Pipe"
Noticed when I swapped out some cobblestone to quartz pipes.  Seems there are Liquid/Power Quartz Pipe textures already though, from looking around in the pack zip.  Downloaded the newest one today to make sure I wasn't crazy (Last rebuild at the time was Oct 15).

[2015-10-18 10:32] steveowashere commented on #484
Making a commit to fix this & add support for all BC pipes. I assume you're on BC 7 or higher?

[2015-10-18 14:21] UristMcStoutHorn commented on #484
Yes sir.  Playing Regrowth which is currently using buildcraft-7.0.23.
Thanks for digging into this.

On Sun, Oct 18, 2015 at 3:32 AM, Steven <notifications@github.com> wrote:

[2015-10-19 01:58] mezz opened #486 "Minor Update: Forestry Machine Tank Mask"
Hello,

I just added a new texture to Forestry. It is a white fluid mask for the machines that show tanks on the outside. It allows me to color the fluids according to what's inside the machine.

The change requires the new mask texture in order to look 100% correct. The mask for my 16x16 textures are not quite aligned right with your textures.

The new textures are white wherever fluid is showing

[2015-10-19 05:20] Adaptivity opened #487 "Do: Tinker Tailor"
https://github.com/rwtema/TinkerTailor/tree/master/src/main/resources/assets/tinkertailor/textures
Not released yet but still.
Also, some new Tinkers textures [here](https://github.com/SlimeKnights/TinkersConstruct/commit/b105dfaf214dab978f457551a67f4587f337c57c) and [here](https://github.com/SlimeKnights/TinkersConstruct/commit/bd1384f4afaa6fc42940e9f41a5070fcf8a6b252)

[2015-10-19 19:13] #451 closed

[2015-10-19 19:13] #484 closed

[2015-10-21 17:04] #482 closed

[2015-10-22 17:25] Boqzo1 opened #488 "Magical Crops: Core, Armory, and Decorative"
Hi there! Is there any way that you could complete more of the textures for magical crops? I know the seeds are mostly done but none of the tools or armor or blocks are done. It would be greatly appreciated! Thanks!

[2015-10-23 19:12] steveowashere commented on #488
I'll try to include a few of the tools and armor items in my next commit (Sunday). No promises on the blocks, those are normally pretty time consuming for me.

[2015-10-23 19:13] Boqzo1 commented on #488
Awesome! Thanks.

[2015-10-23 19:14] Boqzo1 commented on #487
I would LOVE for these textures to be made. The mod actually just got released today as an alpha build

[2015-10-25 09:08] Xen1290 commented on #478
@DZCreeper this can be closed.

[2015-10-25 09:12] Xen1290 commented on #338
@DZCreeper this can be closed, see #28

[2015-10-25 18:39] steveowashere commented on #488
Made a pull request for a few of the items. Didn't have time to do the blocks, but I should get to them next week.

[2015-10-25 18:48] #478 closed

[2015-10-25 18:49] #338 closed

[2015-10-25 22:59] #488 closed

[2015-10-30 07:46] steveowashere commented on #487
I would like to make textures for this mod, but I'm worried that it might change after I make them, then it's just waited time. I think it's a good idea to wait until at least a beta build is out.

[2015-11-02 11:15] cobra opened #495 "Immersive Engineering 0.6"
The breaker switch has a new model and texture, looking weird when used with the current version. See https://github.com/BluSunrize/ImmersiveEngineering/issues/564

[2015-11-02 11:39] steveowashere commented on #495
Not sure how to handle this. Of course the texture can be updated to work with 0.6.0, but then everyone using below versions (which FTB infinity and other packs currently have) will have a wrong texture.

@DZCreeper How would you like to handle this?

[2015-11-02 17:07] Evolution0 commented on #495
As far as I have been told from the beginning.. the texture pack follows the official releases of the mods, not packs.

[2015-11-02 18:16] DZCreeper commented on #495
Update to the latest release version, I will release the old textures as its own download.

[2015-11-02 18:31] steveowashere commented on #495
Sounds good to me.

[2015-11-04 13:29] DocNeO opened #496 "Advanced Solar Panels"
New Gui and Nei for Molecular Transformer (Adv. Solar Panels)
![guimoleculartransformer_nei](https://cloud.githubusercontent.com/assets/15088044/10939216/1dbad28e-8311-11e5-9494-2b8152a77e0b.png)
![guimoleculartransformernew](https://cloud.githubusercontent.com/assets/15088044/10939219/222ae1b0-8311-11e5-8a7a-124c183c4226.png)

[2015-11-04 15:34] TheVizzy commented on #496
+1! Good!

[2015-11-04 15:35] TheVizzy commented on #496
But can you make Pull Request?

[2015-11-04 18:14] DocNeO commented on #496
https://github.com/DocNeO/Faithful32-1.7.10/pull/3
Yes, there

[2015-11-05 12:24] DocNeO opened #499 "Advanced Solar Panels"
I painted new textures for the mod  Advanced Solar Panels, and also fixed a texture of nano-helmet
![advancedsolarhelmet](https://cloud.githubusercontent.com/assets/15088044/10968280/4bf9043e-83d1-11e5-94af-f5c4605d8601.png)
![hybridsolarhelmet](https://cloud.githubusercontent.com/assets/15088044/10968287/56216bc2-83d1-11e5-9149-0444f4402ee3.png)
![ultimatesolarhelmet](https://cloud.githubusercont

[2015-11-05 12:45] Tsyklop opened #500 "Railcraft rail problem"
I`m using last rebuild: November 05 2015 12:00

![2015-11-05_14 43 40](https://cloud.githubusercontent.com/assets/6783568/10968711/ba19f960-83cb-11e5-84b5-a4c4a3f20d0c.png)

[2015-11-05 16:28] TheVizzy commented on #499
+1 Good!

[2015-11-07 17:39] VT-14 opened #502 "Mekanism: Digital Miner and Seismic Reader need updating"
The Digital Miner's block replacement function has been moved to part of the filter setup.  There is now a slot and button on the right side when setting a filter, and the old block replacement slot now has a check mark with the default texture.

The Seismic Reader's GUI is completely scrambled.

[2015-11-09 17:50] Tsyklop opened #504 "[Suggestion] BetterBeginnings Mod textures"
add Please!

[2015-11-16 11:54] Speiger opened #505 "Couple questions about texture/resource packs."
Hi, i hope that you can help me with these kind of questions.
Since IC2 Classic and all my other mods (big mods) use the Sprite system to load all sprites
(which is a system i prefer), i still have a couple issues with it.
There are things which can be not really supportet. Examples:
Animations, Single Bigger Textures, and things i can not remeber.
The thing is that i kinda want to support these.

[2015-11-16 12:02] StefanTT commented on #505
The only config overrides I have yet seen are for animations and if I remember correctly for connected textures. I cannot tell you more about it as I am not in minecraft mod programming.

[2015-11-16 12:08] Speiger commented on #505
@StefanTT well Minecraft allows me to request Aruments on Resource Packs but what if a mod adds by default a mcmeta file with a couple arguments in it? Do they get overriden even if the file do not override the arguments in it?
Or to ask Simpler: If a ResourcePack has also a mcmeta file there where the mod adds one (for one texture) does the modadded one get actually loaded?

[2015-11-16 12:13] StefanTT commented on #505
I once changed the animation speed in a mcmeta file and it got loaded, so yes, I think so.

My guess is that when searching for files then the resouce packs are searched before the files in the mod are searched. At least it would make sense this way.

[2015-11-16 12:17] Speiger commented on #505
@StefanTT ok. Well Animation can not be added to texture Sprites by default simply because it is using a custom loading manager and these things would not be requested at all.
The thing is what i want to add (and there is my worry) is simply you add a File to sprite you want to modify and say here: i want to make 1 of these icons bigger because the sprite size is to small, or i want to add into th

[2015-11-16 12:23] StefanTT commented on #505
I fear I cannot help you in details, but it's very easy to make your own resource pack if you want to test it. Make a directory in the resourcepacks folder and add a pack.mcmeta file there. The directory structure underneath is assets/<yourmod>/etc/etc. You can quite easily test with it as minecraft reloads the resources when you enter the resource selection dialog and click the accept button.

[2015-11-16 12:24] Speiger commented on #505
ok thanks^^

[2015-11-16 12:26] StefanTT commented on #505
Just a little correction:  "assets/<yourmod>" is only valid if the assets in your mod are in a subdirectory like this. I think minecraft simply searches the resources in the resourcepack, starting at the top level.

[2015-11-16 13:43] Tsyklop commented on #500
Error in log file: [Client thread/WARN] [Railcraft/]: Failed to load sub-texture from textures/blocks/tracks/track.limiter.png - 160x32: (x + width) is outside of Raster

[2015-11-18 18:26] wlhlm opened #506 "EnderIO Capacitor Bank UI Armor Tab position off-by-one"
The Armor Tab in the EnderIO Capacitor Bank UI is off by one field.
![2015-11-18_19 21 30](https://cloud.githubusercontent.com/assets/1928113/11249908/f74098d6-8e29-11e5-88af-dd03923c83ce.png)

Tested with F32 (rebuilt Nov 18th) in combination with EnderIO 418 and 420.

[2015-11-23 17:07] wlhlm commented on #506
EnderIO started versioning their assets, which means the mod will use its own textures unless the resourcepack explicitly supports the version to avoid issues such as the one above.

Ref SleepyTrousers/EnderIO#3028

[2015-11-23 17:07] #506 closed

[2015-11-25 10:05] TheVizzy opened #508 "DZCreeper merge. Just do it!"
Merge it please soon! https://github.com/F32Organization/Faithful32-1.8/pull/4
People need textures for new Thaumcraft 5

[2015-11-25 19:12] #508 closed

[2015-11-26 10:48] TheVizzy commented on #508
@DZCreeper and add on http://f32.me/ Download 1.8 Button!

[2015-11-27 19:44] PsychoLynx opened #509 "Do: Garden Stuff"
https://github.com/jaquadro/GardenCollection/tree/master/resources/assets/gardencontainers/textures

This here's a lovely little mod that could be desperately use the Faithful makeover.
It's pretty stable so far with the basic stuff so far, so I would appreciate someone more artistically talented trying their hand at this.

[2015-11-28 16:58] MineTreker opened #510 "Router Reborn + ExtraTiC Update"
Hello, can you pleas try to create 32x32 textures for router reborn and update the ExtraTiC ones? I noticed that some metallurgy metal parts are not in the pack (ex. Damascus Steel Sword Blade
Thx

[2015-12-04 00:57] Rec555 opened #511 "Fix: Mekanism Teleporter GUI"
The Gui for the Teleporter in the Mekanism mod is pretty messed up, It would be much appreciated if you could fix it.
![teleporter gui](https://cloud.githubusercontent.com/assets/16144079/11578991/b0edfd84-99ef-11e5-9b93-505fd0eed698.PNG)

[2015-12-04 03:30] Tsyklop opened #512 "Do: MoarCarts"
https://github.com/BrassGoggledCoders/MoarCarts/tree/master/src/main/resources/assets

Please.

[2015-12-04 03:33] Tsyklop opened #513 "Do: WaterPower"
https://github.com/huanghongxun/WaterPower/tree/1.7.10/src/main/resources/assets

Please!

[2015-12-04 03:36] Tsyklop opened #514 "Do: Advanced Generators"
https://github.com/bdew/generators/tree/mc-1.7.10/resources/assets

[2015-12-04 03:36] Tsyklop opened #515 "Do: RF Windmills"
https://github.com/Piepenguin1995/rfwindmill/tree/master/src/main/resources/assets

[2015-12-04 03:39] Tsyklop opened #516 "Do: RFDrills"
https://github.com/goldenapple3/RFDrills/tree/master/src/main/resources/assets

a very useful and interesting events. I would like to have mod the normal texture

[2015-12-07 02:16] GunArm opened #517 "Ugly rendering caused by EnderIO/Blocks/FusedGlass"
I'm using 1.7.10.

When I started using FaithfulME I noticed, aside from the textures, a certain ugly rendering efect that gnarles up ALL the textures.  It is especially noticable in leaves in the distance as you are moving.  Once you notice it, it is incredibly obvious and kinda terrible.  It's like really REALLY bad aliasing everywhere worse than normal.  I spent the last (wow) 6 hours bisecting

[2015-12-07 02:25] GunArm commented on #517
Looking closer there's clearly something wrong with the file, the image is 1x1

[2015-12-07 02:33] DZCreeper commented on #517
Does this happen without EnderIO? This type of bug should be impossible unless they are changing something deep in the rendering system.

[2015-12-07 02:37] DZCreeper commented on #517
Let me know if that made an impact.

[2015-12-07 03:01] GunArm commented on #517
With the new file:  fine

With the old file:
   Without EnderIO: fine
   With EnderIO: gnarled
--------------------

There could be similar issues with other mods I don't have and the textures aren't getting loaded, but, for me atleast, everything is great with the new image.

I would also have expected it to be impossible, but I was reproing it very consistently.  And the new file fixes it.  Than

[2015-12-07 08:22] ReikaKalseki commented on #517
CC has a 1x1 texture for one of its icons, yes, but I have never seen any issues of any kind, either before or after I made such a texture. I also have never seen anyone report it (the only issue being that FastCraft disables mipmapping when it detects it).

Can you record a video?

[2015-12-07 18:50] Adraxas commented on #517
@GunArm do you have Fastcraft installed?

[2015-12-07 20:39] GunArm commented on #517
I do have fastcraft installed.  Is it still worth me trying to record a video?

[2015-12-07 21:04] DZCreeper commented on #517
If FastCraft is messing with mipmapping in an attempt to save resources then there is no point recording a video unless you wish to point it out to Player.

[2015-12-07 21:04] #517 closed

[2015-12-07 21:41] ReikaKalseki commented on #517
And I have not, nor heard from anyone else who has.

[2015-12-08 08:22] ReikaKalseki commented on #517
A GIF was posted to my thread. It is the FastCraft mipmapping issue. Relay this to Player.

[2015-12-08 22:23] Boqzo1 opened #518 "[Question] Modpack Permissions"
Hi there! I was wondering if i was allowed to include the F32 Modded resource pack in a modpack of mine. Is that allowed? Do you have specific rules i must follow?

[2015-12-16 19:45] escman1999 opened #520 "beacon GUI messed up"
https://imgur.com/a/avzcI

[2015-12-16 21:20] escman1999 opened #521 "Immersive engineering voltmeter icon and model messed up"
https://imgur.com/a/EMQgP

[2015-12-16 22:01] Daoenti opened #522 "Storage Drawers overlay_diamond_trim.png is wrong"
The file assets/storagedrawers/textures/blocks/overlay_diamond_trim.png is wrong causing the overlay to be transparent and causing parts of diamond drawers to show up as see through.  All of the other 'trim' images are correct.

[2015-12-17 18:06] Calenria opened #524 "Progressive Automation Chopper GUI Slots"
![Chopper Gui](http://i.imgur.com/DxTvTQT.png)

Progressive Automation Version: [1.7.10-1.6.29.jar](http://minecraft.curseforge.com/projects/progressive-automation-early-miner/files/2270174)

[2015-12-17 19:28] StefanTT commented on #511
I have checked two mekanism versions I have here, both from quite up to date modpacks. They both have the same GUI as it is in the F32 pack. Which modpack do you have that has the problem?

[2015-12-17 19:32] Xen1290 commented on #511
Check the mekanism version, the latest is 8.1.7 .252

[2015-12-17 19:45] StefanTT commented on #511
The gui of 8.1.7.252 is the same as in our modpack. It looks to me like Rec555's problem is with an older version.

[2015-12-17 19:47] StefanTT commented on #520
Confirmed. Looks like an issue with nearly transparent pixels.

[2015-12-17 19:58] StefanTT commented on #521
Its fine for at least immersive engineering 0.6.2
Its broken for immersive engineering 0.6.4

[2015-12-22 19:09] escman1999 commented on #521
can it be fixed for 0.6.4?

[2015-12-22 21:58] StefanTT commented on #521
An option might be to remove the texture from the modpack for some weeks, as the name is the same but it is used for completely different things.

[2015-12-23 19:28] escman1999 commented on #521
i think that would be a good idea until it's fixed, because that's what's currently holding me back from using this resource pack

[2015-12-23 20:19] StefanTT commented on #521
Well if it's only that, then open the ZIP with a zip-tool and remove the file
assets/immersiveengineering/textures/items/tool_voltmeter.png

[2015-12-23 21:34] #520 closed

[2015-12-29 13:35] PPKOOL opened #525 "[Request] They could create texture for the mod artifice"
I wanted to ask if they could create texture for the mod Artifice

this is the site where this mod Download:
http: //minecraft.curseforge.com/projects/artifice gameCategorySlug = mc-mods & projectID = 223174

[2016-01-01 20:34] mezz opened #526 "Botania Bifrost block cycle colors too quickly"
Usually the Botania Bifrost blocks cycle slowly though the rainbow of colors.
When I activate the Faithful32 pack, it cycles much more quickly. It's very distracting.
Downloaded today from here: http://f32.me/

[2016-01-05 01:37] Evolution0 commented on #518
The license doesn't say otherwise but I believe you still need Vatic's permission separately as he is the creator of the original Faithful texture pack. He may or may not have a license on the main Minecraft Forum thread (I can't access it right now to check) that will give you a quicker answer.

Including texture packs in modpacks is generally frowned upon unless its small, the entirety of Modded

[2016-01-16 04:01] ImTheSquid opened #527 "Lucky Block"
Lucky block texture crashes game

[2016-01-18 04:51] Boqzo1 opened #528 "Chisel Fantasy Blocks"
Hi there! Could you possibly make textures for chisel's fantasy and purpled fantasy blocks?

[2016-02-02 17:14] Boqzo1 opened #530 "Advent of Ascention Tinker Tool Textures"
Hi there! Can someone please make textures for the tinkers tools with AOA materials? It would be greatly appreciated! Thanks!

[2016-03-19 21:17] Andrey228322 opened #538 "Glass icons invisibility"
glass icon is not visible. What to do? How to fix?

[2016-03-19 22:36] StefanTT commented on #538
Please have a look at issue #396, its probably the same as your problem.
For me it makes a difference if I use GUI scale normal or auto.

[2016-03-20 03:17] kaikue opened #539 "Biomes o Plenty ethereal log side is misspelled"
"log_ethereal_side.png" is the cherry log heart texture, for some reason. The actual texture is named "log_etheral_side.png", and doesn't get loaded.

[2016-03-20 05:04] Andrey228322 commented on #538
I see! And I can not understand the decision ...

[2016-03-20 07:01] StefanTT commented on #538
This happens due to finer lines in Faithful than in standard minecraft textures.

You will have the same issue on other texture packs too.
Its not a texture pack issue.
We cannot fix it.

[2016-03-20 07:53] Andrey228322 commented on #538
And is it possible to take a glass from the default Minecraft?

[2016-03-20 08:16] StefanTT commented on #538
Sure.

You can also unzip the Faithful texture pack in your Minecraft's resourcepacks folder and remove those textures in there that you do not like. Or directly manipulate the zip file, whatever suits you.

[2016-03-20 09:35] Andrey228322 commented on #538
say pls name Texture Block glass. I find him

[2016-03-20 11:26] StefanTT commented on #538
It depends on which glass blocks you mean, they are in different directories.
The vanilla glass is assets/minecraft/textures/blocks/glass.png

[2016-04-02 05:31] Andrey228322 opened #540 "ERROR"
Look for this > http://pastebin.com/yFvd8snT
See ERROR for load [08:23:27] [Client thread/ERROR]: Unable to parse metadata from ic2:textures/blocks/fluids/biogas_still.png
?

[2016-04-02 10:29] Xen1290 commented on #540
Oh, you need to put the biogas_still.mcmeta from original ic2 assets to faithfulpack/assets/ic2/textures/blocks/fluids/

I hope I explained well.

[2016-04-06 07:55] Tsyklop opened #541 "The following texture errors were found."
http://pastebin.com/db9FRrpJ in my log.

[2016-04-06 12:59] Xen1290 commented on #541
In theory, That has nothing to do with Faithful.

[2016-04-06 13:13] Tsyklop commented on #541
@Xen1290 Errors because of the that, in the F32 are no files indicated.

[2016-04-06 13:58] #48 closed

[2016-04-06 14:14] Tsyklop commented on #541
@iMarbot Minecraft Domain is the name of Minecraft. On likeness of like mods have "modid".

[2016-04-06 18:20] Xen1290 commented on #541
This thing happen with latests forge versions. But it's normal, forge dump all the missing textures of all loaded mods.

[2016-04-07 02:31] Tsyklop commented on #541
@iMarbot 1.7.10. Forge 1614

[2016-04-07 11:19] Tsyklop commented on #541
@iMarbot startup issues. When a client loads the texture. In the game, there are no such errors.

[2016-04-07 11:38] Tsyklop commented on #541
@iMarbot Did not notice. thus there is no crash.

[2016-04-14 18:55] p75369 opened #542 "Immersive Engineering Lantern"
The border on the immersive engineering lantern needs to made 2 pixels wide as the linked is happening currently.

http://imgur.com/a/VcwoN

[2016-04-16 16:47] oddball250 opened #543 "Botania Grasses"
all the new Botania Grasses are are vanilla, the new ones are Dry, Infused, Scorched, Vivid, Golden and Mutated

[2016-05-10 19:34] DZCreeper commented on #541
Missing texture errors are not a problem. They indicate a texture is missing but cause no harm to the game. If you find visual issues with something once playing then please report them.

[2016-05-10 19:34] #541 closed

[2016-05-10 20:03] DZCreeper commented on #540
https://github.com/F32Organization/Faithful32-1.7.10/commit/0173ee4885fc60969ff6e61b88e40b82e5859c6b

I added the .mcmeta file for biogas, changed the texture a bit, and also made an attempt at UU-Matter. Let me know what you think.

[2016-05-10 20:08] DZCreeper commented on #538
This is a known issue that results from having anisotropic filtering turned on. On resolutions of 1920x1080 or smaller you will find that glass may render oddly in your inventory.

[2016-05-10 20:08] #538 closed

[2016-05-10 21:42] Xen1290 commented on #540
Very good for me @DZCreeper!

[2016-05-18 21:50] DJ411 commented on #543
Seems like the current Botania pack is for 1.7. They have a new pack 1.8 for Botania that i think needs to be all updated too.

[2016-05-20 18:46] R1ZL4 opened #545 "Mekanism: Version 9"
Version 9 has been released with its own new textures, none of the F32 textures seem to work.

[2016-05-21 11:10] xMrVizzy commented on #545
Okay! I'll try)

[2016-05-23 22:32] #542 closed

[2016-06-08 15:23] StefanTT commented on #521
@escman1999 could you please verify if my fix fixes the issue for you?

[2016-06-08 17:45] escman1999 commented on #521
._. i haven't used this resource pack in a long time

[2016-06-08 17:48] StefanTT commented on #521
Ok, never mind, thanks for the feedback.
I think this issue can be closed (as it is fixed), but everybody is welcome to verify it.

[2016-06-09 17:35] p75369 commented on #521
Having experienced the problem before, I can confirm that the new texture works.

[2016-06-09 19:01] StefanTT commented on #521
Great, thanks for testing!

@DZCreeper please close this issue

[2016-06-09 21:39] #521 closed

[2016-06-17 00:34] mcdodge34 commented on #545
I can confirm, and it seems to cause problems with some machines like the Electrolytic Separator, its now transparent kind of very annoying.

[2016-06-28 02:19] DJ411 opened #551 "Draconium Ore Gravel Texture Missing"
I noticed that this block does not have a texture. Its a Purple and Black block atm. When i take the texture pack off it shows up. Hope this can be fixed.

Mod pack i'm playing is FTB SkyFactory 2.5.2 if that helps for testing.
Mod block is from is Ex Astris

[2016-06-28 16:36] StefanTT commented on #551
F32 does not yet contain any Ex Astris textures, so it must be from some other mod.

[2016-06-29 08:26] Xireka commented on #545
Delete the mekanism folder from the texture pack folder, fixes the issue, even if it's kind of a temporary fix. :)

[2016-06-29 13:57] mcdodge34 commented on #545
Hum, I tried to fix the issue by finding the machine textures in the folder and deleting only them, I don't know what to remove to fix it totally, I was sure I had them all but I still have a messed up Electrolytic Separator, I wanna keep the other stuff like ores, dusts, ingots, blocks, armors and tools, those work well still, its just the machines that are messed up badly.

[2016-06-29 17:17] StefanTT commented on #545
I will have a look at the textures

[2016-06-30 03:17] DJ411 commented on #551
thanks for the response. I was actually gonna ask if someone can find what mod its coming from and hope its out there somewhere. Hopefully a request for the item can be made.

[2016-06-30 05:53] StefanTT commented on #551
If the texture is missing in Faithful then the block has it's default 16x16 texture. When the block is black/pink checkered then it usually means that a texture in Faithful is broken, e.g. due to unsupported transparency. The other possible cause I have seen is that the texture is animated but the animation info file is missing in Faithful.

So or so, we need to find the location of the block's te

[2016-06-30 07:02] StefanTT commented on #545
@R1ZL4 please have a look if your problem is fixed now

[2016-06-30 07:20] mcdodge34 commented on #545
Will take a look at them tomorrow late at night.

[2016-07-03 16:20] mcdodge34 commented on #545
Seems the Electrolytic Separator textures are fixed, but the ones for the electric pump aren't yet.

[2016-07-04 06:24] StefanTT commented on #545
You are right, the electric pump texture is still there. I will remove it tonight (in 12 hours).

[2016-07-04 06:28] mcdodge34 commented on #545
Thanks, doing awesome work, will report if I find anything else, I'm playing with this mod for the 2nd time only, the new textures that aidan did for the machines are awesome I know they're supposed to blend into the Unity Texture Pack, but I don't really like the pack, everyone has different taste I suppose.

[2016-07-04 12:07] shadow306k commented on #551
I'd like to add that it also applies to nether/end versions of ore gravel blocks.

I was just about to post a new issue for this, and it seems the problem stems from Ex Astris using Ex Nihilo's base template textures. Tested by removing Ex Nihilo from the resource pack, and the textures went back to their 16x versions and worked fine. I'm just not sure how to fix it in ex Nihilo.

[2016-07-04 12:11] StefanTT commented on #551
Thanks for the hint, I will have another look tonight.

[2016-07-04 12:12] shadow306k commented on #551
I'm playing around at the moment, and I've narrowed it down to being an issue in textures/blocks. I'll update this if I have anything else useful/found a fix

[2016-07-04 12:16] StefanTT commented on #551
ok fine :+1:

[2016-07-04 12:23] shadow306k commented on #551
Alright, it's two files causing the problem. IconGravelBaseEnder.png and IconGravelBaseNether.png

I tried just putting a plain white 32x png in there, and they went from the default 16x textures to MissingTexture

[2016-07-04 12:32] shadow306k commented on #551
I FIXED IT!!! It's actually four files!
[Here's an imgur link](http://imgur.com/hrgJvGI) which highlights the four files causing the problem, and my really bad fix for it using a recolour of the gravel texture. I'm no texture artist, so I can't make a texture for them, but I found what needs doing.

(I'm also bad at github so idk what to do from here.)

[2016-07-04 13:09] StefanTT commented on #551
Ah, great, thanks for investigating!  :+1:
I will try to fix it tonight.

[2016-07-04 15:02] StefanTT commented on #551
The gravel base textures for endstone and nether gravel were missing. I added them in the change, now it looks good for me in FTB skyblocks (before it was broken too).

[2016-07-06 11:57] StefanTT commented on #551
The issue should be fixed now.
@DJ411 and/or @shadow306k can you verify it please?

[2016-07-06 11:58] StefanTT commented on #545
@mcdodge34 the issue should be fixed by now, can you please verify it?

[2016-07-06 16:05] mcdodge34 commented on #545
Will gladly take a look today, I'll report back for sure.

[2016-07-06 21:14] DJ411 commented on #551
I now see it @StefanTT. Thank you.

[2016-07-07 06:11] StefanTT commented on #551
Great, thanks for testing.

I think we can close the issue then, @DZCreeper

[2016-07-07 06:12] StefanTT commented on #545
The pack from f32.me is regularily updated. I think it's daily, but I do not know the schedule.

[2016-07-07 07:00] mcdodge34 commented on #545
I can't really use symbolic links cause I have a lot of personalized textures in there that I took from several different packs, can't distribute it this way but we can use the textures we want for personal use, hope I'm right with this. But all my gamesaves for all my games are using symbolic links to sync to my dropbox account, so I never loose anything.

[2016-07-07 07:04] StefanTT commented on #545
You can have another directory with only the personalized textures and add both as resource packs in minecraft.

[2016-07-07 07:06] mcdodge34 commented on #545
That would be tricky to setup for me, I also removed a bunch of the textures that the modpack I use don't need, I find I gain some FPS and a little bit on the loading time, I take the full pack each time and remove all the textures of the mods that aren't in the pack I play with.

FYI, Electric Pump textures seems to be OK according to NEI crafting grid. No I got to sleep, work at 9am and its alre

[2016-07-10 02:48] #551 closed

[2016-07-15 23:40] Jules06 opened #556 "Crash with Fastcraft + wrong textures with IC2 Classic"
Hi, I keep crashing when I try to switch to the F32 texture pack :(
Here's the crash report : http://pastebin.com/7TWhRvV4 .
I know that I can fix this by removing fastcraft but i get mad lags without it, so is there a way to use both the ressource pack and fastcraft? Thanks

[2016-07-16 06:58] Xen1290 commented on #556
java.lang.RuntimeException: Can't fit all textures, use lower resolution texture packs or remove mods.

[2016-07-16 12:58] StefanTT commented on #556
I have no problems here in the mod packs that contain fastcraft and even optifine.

If I have problems than it's with mod packs that are unstable by themselves. Those packs tend to sometimes fail to start or make problems when e.g. enabling optifine.

In other words: I second Xen1290's opinion, I think we cannot help you here.

[2016-07-16 17:24] Jules06 commented on #556
Too bad, I'll have to use the default texture pack :(
 Thanks anyway!

[2016-07-16 17:24] #556 closed

[2016-07-16 17:26] Xen1290 commented on #556
@Jules06 maybe you can ask help in the fastcraft tread.

[2016-07-16 19:12] StefanTT commented on #539
Thanks for reporting and sorry that it took so long for us to react.
This change of me should fix the issue.

[2016-07-18 08:48] Xireka commented on #545
I checked the textures as well since I did have the same problem, the Mekanism textures are all fixed now, the issue can be closed I think :)

[2016-11-13 15:12] bballboy2002 opened #563 "Railcraft Coupler Track Auto-Coupler Mode"
![screen shot 2016-11-13 at 3 12 21 pm](https://cloud.githubusercontent.com/assets/14823057/20246668/9760478a-a9b3-11e6-9257-2787554c346f.png)

[2016-11-13 15:52] bballboy2002 commented on #563
Fix ![track coupler](https://cloud.githubusercontent.com/assets/14823057/20246913/177a7382-a9b9-11e6-8073-198887525180.png)

[2016-11-13 16:21] #563 closed

[2016-11-13 16:47] StefanTT commented on #563
:+1:

[2016-12-30 02:25] ranger135xp opened #568 "[Bug] Project Red, certain tiles are not displaying properly"
You will find a good chunk of information here: https://github.com/MrTJP/ProjectRed/issues/1080

[2016-12-30 02:32] MrTJP commented on #568
Solution: In the projectred/integration/surface directory, only include the following four textures, altered as per the texture pack:
- base.png
- bordermatte.png
- wirematte-OFF.png
- wirematte-ON.png

The other icons in that folder are not actually textures, simply helper data files used for gate wire path generation which are frequently changed and causes issues when older files are loaded thro

[2016-12-30 03:46] ranger135xp commented on #568
I can confirm through working with MrTJP, that once those files were removed from F32's pack, everything worked perfectly. I followed the exact instructions above.

[2016-12-30 07:06] StefanTT commented on #568
I will create a pull request with these textures removed. As the original textures are 32x32 it does not make sense to have them in the texture pack anyways. A quick check in game does not show any visible difference if they are removed or not. Of course :-)

[2017-01-15 19:30] StefanTT commented on #568
My change is meanwhile merged, please have a look if it fixes the problem for you (it should).
If you are happy with the fix then please close this issue - I do not have the permissions to close it.

[2017-01-23 16:03] ranger135xp commented on #568
@StefanTT I got an email that you updated this thread, but the update is not posted here. Did you apply the fix to the pack?

[2017-01-23 16:16] StefanTT commented on #568
It is in commit ad55e58 which was merged yesterday.

[2017-01-24 08:53] Iclario commented on #568
Fixed by https://github.com/F32Organization/Faithful32-1.7.10/commit/ad55e5812022decccd1cb41144eb1316850810d9

[2017-01-24 08:53] #568 closed

[2017-02-18 22:25] SapientMC opened #569 "Wrong color in MEDense_Gray.png"
assets\appliedenergistics2\textures\blocks\MEDense_Gray.png
is same as assets\appliedenergistics2\textures\blocks\MEDense_Green.png
Should be different i think.

[2017-02-19 07:58] StefanTT commented on #569
Indeed. Funny that nobody noticed this yet.

[2017-02-20 21:51] StefanTT commented on #569
@SapientMC please test, the issue should be fixed by now.

[2017-02-20 22:06] SapientMC commented on #569
@StefanTT I confirm. Now all fine. Thanx a lot :)

[2017-02-21 06:52] #569 closed

[2017-03-05 16:18] Eufranio opened #572 "Update IC2 Classic textures"
The textures of IC2 Classic are old and aren't working anymore =/
Could you update the textures, or at least fix the conflicts?

[2017-03-05 21:06] #512 closed

[2017-03-05 21:07] #513 closed

[2017-03-05 21:07] #514 closed

[2017-03-05 21:07] #515 closed

[2017-03-05 21:07] #516 closed

[2017-03-05 21:10] Tsyklop opened #573 "Add ThermalExpansion textures"
Hi. Thermal Expansion release for 1.10.2. Please add textures for him.

Thanks.

[2017-03-05 21:22] StefanTT commented on #573
You opened the issue for 1.7.10 ...

[2017-03-05 21:41] Tsyklop commented on #573
sorry.

[2017-03-05 21:41] #573 closed

[2017-03-18 21:52] Joccob opened #574 "AE2 ME storage/conversion monitor corner texture become transparent when locked"
Here is a pic of the problem.
![Imgur](http://i.imgur.com/7cwLJeP.png)

[2017-05-12 04:06] Jake1702 opened #575 "Magical Crops Modular version not working"
For about a year or more now, Magical Crops was switched over to a modular mod, rather than everything in one mod. There's the Core, Armoury, and Decorative I believe. Most of the textures are the same as the old version, so they could just be copied with the new names, but the furnace textures were changed.

Mod Links :-

Core: https://minecraft.curseforge.com/projects/magical-crops-core?gameCate

[2017-06-07 18:51] R1ZL4 commented on #545
@StefanTT I am not aware of any outstanding texture issues now with Mekanism 9.x, it all seems to be working fine, thank you for the fixes. I forgot to come back and close the issue, so I will do it now.

[2017-06-07 18:51] #545 closed

[2017-06-07 19:10] R1ZL4 opened #576 "Missing Textures for Ex Nihilo (Items & Blocks)"
I've come across a few missing textures in Ex Nihilo, most notably when you place down certain blocks they revert to the bookshelf texture even though they show correctly in your inventory and in your hand, you can test this by placing down gold ore gravel.

I did a comparison between the blocks and items folders in the jar and in F32 and there appear to be a few missing from F32.

[2017-06-08 05:22] StefanTT commented on #576
Ok, thanks for the report, I will have a look soon.

[2017-06-20 18:38] Jake1702 commented on #576
Last time I used F32 with Ex Nihilo the textures worked fine for me. What do you mean by "bookshelf texture"?

[2017-06-20 19:08] R1ZL4 commented on #576
![2017-06-20_20 07 56](https://user-images.githubusercontent.com/19495821/27351122-387dfeb8-55f4-11e7-8568-e0482ac0488d.png)

Like this.

[2017-06-21 20:40] nexfwall opened #577 ""www.f32.me/mods" stupidly broken"
It's sad, guys, but it looks like you forgot about the `>` in the end of the PHP script... And it's seems to be a long time since this shi^W was happened.

But at least, I've tried to draw your attention to this.

![image](https://user-images.githubusercontent.com/8678891/27405384-035782d6-56da-11e7-8585-d1bdbd64f40f.png)

[2017-06-23 20:20] DZCreeper commented on #577
The PHP for that sub-folder isn't working at all, I forgot to enable it after the web server accidentally got defaulted during an in-place OS upgrade. It wasn't really doing anything besides making the page look a little better so I will just let Apache handle it.

The whole folder needs an update but I haven't and likely won't find the time to get involved in anything Minecraft related again.

[2017-06-23 20:20] #577 closed

[2017-06-29 00:07] Jake1702 commented on #576
I'm afraid to say it may be on your end... That does not happen when I try it. What pack are you using it on?

[2017-08-29 18:02] psxlover opened #578 "Rftools wrong GUI textures"
The GUI textures for Rftools don't seem to have been updated.
I noticed that both in the "Shield Projector" and the "Builder Block" GUIs are missing the slots for shape cards.

[2017-10-09 15:31] plaguewolf opened #579 "GregTech New Horizons, reworking a few key textures"
Hi, i just started using your texture packs for GTNH, and its perfect, bar a few exceptions, namely gregtech changes.

Bronze Blast Furnace, (assuming other blast furnaces too, but haven't gotten that far yet) now has 3 input slots, vs only 2. (or is it GT++ that adds those...?)

Assembler now has 6 inputs, vs only 2.

a few machines that didn't previously now have fluid in and out slots (or in so

[2017-10-09 16:12] #579 closed

[2017-10-19 19:25] Sanirt opened #582 "Thaumic Tinkerer"
faithful32x32 modded edition. Missing ichorcloth hood and awakened ichorcloth hood textures!!

[2020-01-23 12:53] guitarpick38 opened #586 "IC2 classic textures are broken"
At the moment they look like this
https://imgur.com/a/Z6fqlkq
ive tried going through the textures to try and fix them but im not fully aware of how to fix this issue

[2020-09-18 11:40] Jonius7 commented on #586
I would go by looking at how IC2 Classic handles the 16x16 textures and work from there.

[2021-02-21 02:49] Donnea17 opened #588 "Missing Textures"
So I tried it both ways I downloaded the master pack and it has a lot of the textures but no all of them and I downloaded the vanilla and then took the modded assets and put them in there so i don't know if I'm doing something wrong but haha il confused and need help

[2021-08-16 12:36] 905Sunny opened #589 "the chisel UI/inventory is not sized and aligned properly"
Modpack: GTNH

![2021-07-15_21 57 46](https://user-images.githubusercontent.com/44795811/129564651-4f5cb325-80b0-4ac1-aa40-a9d3965a8a59.png)

[2021-08-17 09:58] 905Sunny opened #590 "only the corner of the glass is visible with texture pack on"
![2021-08-17_17 54 49](https://user-images.githubusercontent.com/44795811/129705675-056937ad-798c-4def-be8a-cb4f09b6a881.png)

[2021-09-21 07:19] Jonius7 commented on #588
Which mods in particular have missing textures?
Also this contains all the vanilla textures, so you don't need to add that as well.

[2021-11-19 16:22] 905Sunny opened #591 "Misaligned UI for chisel"
![2021-11-20_00 20 59](https://user-images.githubusercontent.com/44795811/142656403-db133702-fcd3-4d10-b017-bfb57d94937b.png)

as shown in the attachment and title, the chisel UI does not match that of the actual inventory.